node-red/flows/Alarm.json
[
  {
    "id": "9081c37be56bc95b",
    "type": "tab",
    "label": "Alarm",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "60a6418e9202f91b",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm when unlocking the door",
    "style": {
      "label": true
    },
    "nodes": [
      "21fd8062b7da30b0",
      "7ea3f7423d6c9264",
      "a80517abc44a8685",
      "c1fde7221f082bde",
      "f10a3c4729976592"
    ],
    "x": 34,
    "y": 339,
    "w": 792,
    "h": 202
  },
  {
    "id": "75e39dcb53bdacc7",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Arm when everyone has left home",
    "style": {
      "label": true
    },
    "nodes": [
      "0b509be3db326b86",
      "48c2925eb12eb26f",
      "626dbc36ba45a1c4",
      "9b0337d5217d7ff0",
      "34df5041832334e5"
    ],
    "x": 34,
    "y": 179,
    "w": 752,
    "h": 142
  },
  {
    "id": "f3fabdf91855700f",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm when somebody comes home",
    "style": {
      "label": true
    },
    "nodes": [
      "ae2f4571bf9c28d5",
      "7b9f40156304418e",
      "59a1364f3a5958ea",
      "7b76037c19231281",
      "7183340c3aaababd"
    ],
    "x": 34,
    "y": 19,
    "w": 772,
    "h": 142
  },
  {
    "id": "819624756ad5ddb3",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Arm with persons's code",
    "style": {
      "label": true
    },
    "nodes": [
      "d802c477e4a883f3",
      "f959494e33a8d5f0",
      "f40681a2f5d0b028",
      "6cca731ae0297214",
      "8b850efc4a432f90"
    ],
    "x": 34,
    "y": 559,
    "w": 732,
    "h": 82
  },
  {
    "id": "dbf45413091d6098",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm with persons's code",
    "style": {
      "label": true
    },
    "nodes": [
      "58d22ecab9d2941c",
      "8609e6abb78f8068",
      "7eb0434ae2b4a93a",
      "6d47bd9e0bf5c0e0",
      "1543208147c778e2"
    ],
    "x": 34,
    "y": 659,
    "w": 752,
    "h": 82
  },
  {
    "id": "ac4a5fa8ce361c85",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Smoke detected",
    "style": {
      "label": true
    },
    "nodes": [
      "2e0513112b568dfa",
      "ee2aa044230da653"
    ],
    "x": 34,
    "y": 1099,
    "w": 432,
    "h": 82
  },
  {
    "id": "ea9720dad10ae7bd",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm notification action",
    "style": {
      "label": true
    },
    "nodes": [
      "daf827e5ff247e6a",
      "67d1083ee5ac4427",
      "c57913cb5ac2c4b7",
      "f277febc1319bf63"
    ],
    "x": 34,
    "y": 759,
    "w": 992,
    "h": 82
  },
  {
    "id": "2c760ae190629011",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Enable \"not home\" scene when everyone has left home",
    "style": {
      "label": true
    },
    "nodes": [
      "72cf3dd514774f5f",
      "6addbb6abca1c9c1"
    ],
    "x": 34,
    "y": 999,
    "w": 472,
    "h": 82
  },
  {
    "id": "0dae13e1d2f37ed0",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Send notification on trigger",
    "style": {
      "label": true
    },
    "nodes": [
      "694decc229ffefc0",
      "8ae24a3cefea69b6",
      "960bfb8e4169253b",
      "ada400995e3d7452",
      "f7768fbab71ef429",
      "99b7a838b172040f"
    ],
    "x": 34,
    "y": 859,
    "w": 1132,
    "h": 122
  },
  {
    "id": "21fd8062b7da30b0",
    "type": "comment",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Hopefully it have already been disarmed",
    "info": "",
    "x": 220,
    "y": 380,
    "wires": []
  },
  {
    "id": "ae2f4571bf9c28d5",
    "type": "subflow:5c7f108f494183f7",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "env": [
      {
        "name": "output_person",
        "value": "person",
        "type": "str"
      }
    ],
    "x": 170,
    "y": 60,
    "wires": [
      [
        "7b9f40156304418e"
      ],
      [
        "7b76037c19231281"
      ]
    ]
  },
  {
    "id": "0b509be3db326b86",
    "type": "subflow:10bf6a612840df6b",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "env": [
      {
        "name": "output_person",
        "value": "person",
        "type": "str"
      }
    ],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "48c2925eb12eb26f"
      ],
      [
        "9b0337d5217d7ff0"
      ]
    ]
  },
  {
    "id": "7ea3f7423d6c9264",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Albin opens the front door",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.main_door_operator",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "Albin Medoc",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "person",
        "propertyType": "msg",
        "value": "person.albin",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 440,
    "wires": [
      [
        "a80517abc44a8685"
      ],
      []
    ]
  },
  {
    "id": "c1fde7221f082bde",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Matilda opens the front door",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.main_door_operator",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "Matilda Takkula",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "person",
        "propertyType": "msg",
        "value": "person.matilda",
        "valueType": "str"
      }
    ],
    "x": 180,
    "y": 500,
    "wires": [
      [
        "a80517abc44a8685"
      ],
      []
    ]
  },
  {
    "id": "d802c477e4a883f3",
    "type": "api-current-state",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "Armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 180,
    "y": 600,
    "wires": [
      [],
      [
        "f959494e33a8d5f0"
      ]
    ]
  },
  {
    "id": "f959494e33a8d5f0",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "Get code for person",
    "func": "\nconst person_entity_id = msg.person;\n\nconst person_name = person_entity_id.split('.')[1];\n\nconst secret_key = `lock_code_${person_name}`;\n\nconst code = global.get(secret_key);\n\nreturn {\n    ...msg,\n    code\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 600,
    "wires": [
      [
        "f40681a2f5d0b028"
      ]
    ]
  },
  {
    "id": "f40681a2f5d0b028",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "Arm with code",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "arm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": msg.code,\t    \"mode\": \"away\",\t    \"skip_delay\": true,\t    \"force\": true\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 600,
    "wires": [
      [
        "8b850efc4a432f90"
      ]
    ]
  },
  {
    "id": "58d22ecab9d2941c",
    "type": "api-current-state",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "Armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 180,
    "y": 700,
    "wires": [
      [
        "8609e6abb78f8068"
      ],
      []
    ]
  },
  {
    "id": "8609e6abb78f8068",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "Get code for person",
    "func": "\nconst person_entity_id = msg.person;\n\nconst person_name = person_entity_id.split('.')[1];\n\nconst secret_key = `lock_code_${person_name}`;\n\nconst code = global.get(secret_key);\n\nreturn {\n    ...msg,\n    code\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 700,
    "wires": [
      [
        "7eb0434ae2b4a93a"
      ]
    ]
  },
  {
    "id": "7eb0434ae2b4a93a",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "Disarm with code",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": msg.code\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 610,
    "y": 700,
    "wires": [
      [
        "1543208147c778e2"
      ]
    ]
  },
  {
    "id": "6cca731ae0297214",
    "type": "link in",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "Arm with persons's code",
    "links": [],
    "x": 75,
    "y": 600,
    "wires": [
      [
        "d802c477e4a883f3"
      ]
    ]
  },
  {
    "id": "6d47bd9e0bf5c0e0",
    "type": "link in",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "Disarm with persons's code",
    "links": [],
    "x": 75,
    "y": 700,
    "wires": [
      [
        "58d22ecab9d2941c"
      ]
    ]
  },
  {
    "id": "a80517abc44a8685",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 460,
    "y": 440,
    "wires": [
      [
        "f10a3c4729976592"
      ]
    ]
  },
  {
    "id": "7b9f40156304418e",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 440,
    "y": 60,
    "wires": [
      [
        "59a1364f3a5958ea"
      ]
    ]
  },
  {
    "id": "48c2925eb12eb26f",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "links": [
      "6cca731ae0297214"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 430,
    "y": 220,
    "wires": [
      [
        "626dbc36ba45a1c4"
      ]
    ]
  },
  {
    "id": "f10a3c4729976592",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_albin_iphone",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"title\": \"Larm inaktiverat\",\t    \"message\": \t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" låste upp dörren\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "626dbc36ba45a1c4",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "Send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"title\": \"Larm aktiverat\",\t    \"message\":\t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" har lämnat hem\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "59a1364f3a5958ea",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "Send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"title\": \"Larm inaktiverat\",\t    \"message\": \t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" har kommit hem\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 690,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "2e0513112b568dfa",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "ac4a5fa8ce361c85",
    "name": "Smoke detected",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.smoke_detected",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "ee2aa044230da653"
      ],
      []
    ]
  },
  {
    "id": "ee2aa044230da653",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "ac4a5fa8ce361c85",
    "name": "Send notificaiton",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t   \"title\": \"Rök upptäckt!\",\t   \"message\": \"Rök upptäckt i hemmet! Det kanske brinner!\",\t   \"data\": {\t       \"push\": {\t           \"sound\": {\t               \"name\": \"default\",\t               \"critical\": 1,\t               \"volume\": 1\t            }\t        }\t    }\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "8b850efc4a432f90",
    "type": "link out",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "link out 1",
    "mode": "return",
    "links": [],
    "x": 725,
    "y": 600,
    "wires": []
  },
  {
    "id": "1543208147c778e2",
    "type": "link out",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "link out 2",
    "mode": "return",
    "links": [],
    "x": 745,
    "y": 700,
    "wires": []
  },
  {
    "id": "daf827e5ff247e6a",
    "type": "server-events",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "Notification action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "action_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event.action",
        "valueType": "jsonata"
      }
    ],
    "x": 150,
    "y": 800,
    "wires": [
      [
        "f277febc1319bf63"
      ]
    ]
  },
  {
    "id": "67d1083ee5ac4427",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 880,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "72cf3dd514774f5f",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "2c760ae190629011",
    "name": "Activate scene",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "scene.not_home"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "6addbb6abca1c9c1",
    "type": "subflow:10bf6a612840df6b",
    "z": "9081c37be56bc95b",
    "g": "2c760ae190629011",
    "name": "",
    "x": 170,
    "y": 1040,
    "wires": [
      [
        "72cf3dd514774f5f"
      ],
      [
        "72cf3dd514774f5f"
      ]
    ]
  },
  {
    "id": "f7768fbab71ef429",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "Alarm triggered",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "triggered",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 900,
    "wires": [
      [
        "694decc229ffefc0"
      ],
      []
    ]
  },
  {
    "id": "694decc229ffefc0",
    "type": "subflow:bd6b3fc9fb3bede7",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "",
    "env": [
      {
        "name": "output_persons",
        "value": "payload",
        "type": "str"
      }
    ],
    "x": 340,
    "y": 900,
    "wires": [
      [
        "8ae24a3cefea69b6"
      ]
    ]
  },
  {
    "id": "8ae24a3cefea69b6",
    "type": "split",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "For every person",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 550,
    "y": 900,
    "wires": [
      [
        "960bfb8e4169253b"
      ]
    ]
  },
  {
    "id": "960bfb8e4169253b",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "Create notification",
    "func": "const person_entity_id = msg.payload;\nconst person_name = person_entity_id.split('.')[1];\nconst disarm_action = `DISARM_${person_name.toUpperCase()}`;\n\nconst notify_data = {\n    \"title\": \"Larm utlöst!\",\n    \"message\": \"Håll inne för att visa mer information\",\n    \"data\": {\n        \"entity_id\": \"camera.camera_living_room_hd_stream\",\n        \"push\": {\n            \"sound\": {\n                \"name\": \"default\",\n                \"critical\": 1,\n                \"volume\": 1\n            }\n        },\n        \"actions\": [\n            {\n                \"action\": disarm_action,\n                \"title\": \"Inaktivera larm\",\n                \"destructive\": true,\n                \"icon\": \"sfsymbols:bell.slash\",\n                \"authenticationRequired\": true\n            }\n        ],\n        \"persistent\": true,\n        \"tag\": \"persistent\"\n    }\n}\n\nreturn {\n    ...msg,\n    notify_data\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 900,
    "wires": [
      [
        "ada400995e3d7452"
      ]
    ]
  },
  {
    "id": "ada400995e3d7452",
    "type": "subflow:9577215509c764c6",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "",
    "env": [
      {
        "name": "person",
        "value": "{{payload}}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 1020,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "7b76037c19231281",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "Disarm as guest",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": $globalContext(\"lock_code_guest\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 120,
    "wires": [
      [
        "7183340c3aaababd"
      ]
    ]
  },
  {
    "id": "9b0337d5217d7ff0",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "Arm as guest",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "arm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": $globalContext(\"lock_code_guest\"),\t    \"mode\": \"away\",\t    \"skip_delay\": true,\t    \"force\": true\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 390,
    "y": 280,
    "wires": [
      [
        "34df5041832334e5"
      ]
    ]
  },
  {
    "id": "7183340c3aaababd",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "Send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"title\": \"Larm inaktiverat\",\t    \"message\": \"Gäst(er) har kommit hem\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 690,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "34df5041832334e5",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "Send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"title\": \"Larm aktiverat\",\t    \"message\": \"Gäst(er) har lämnat hem\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "99b7a838b172040f",
    "type": "comment",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "We are sending unique notifications, therefor we are looping",
    "info": "",
    "x": 680,
    "y": 940,
    "wires": []
  },
  {
    "id": "c57913cb5ac2c4b7",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "Get person from action",
    "func": "const action_name = msg.event_type;\nconst person = action_name.split('DISARM_')[1].toLowerCase()\nconst person_entity_id = `person.${person}`;\n\nreturn {\n    person: person_entity_id\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 800,
    "wires": [
      [
        "67d1083ee5ac4427"
      ]
    ]
  },
  {
    "id": "f277febc1319bf63",
    "type": "switch",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "Is correct action?",
    "property": "action_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "DISARM_[A-Z]{1,}",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 800,
    "wires": [
      [
        "c57913cb5ac2c4b7"
      ]
    ]
  }
]