node-red/flows/Alarm.json
[
  {
    "id": "9081c37be56bc95b",
    "type": "tab",
    "label": "Alarm",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0dae13e1d2f37ed0",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Send notification on trigger",
    "style": {
      "label": true
    },
    "nodes": [
      "694decc229ffefc0",
      "8ae24a3cefea69b6",
      "960bfb8e4169253b",
      "ada400995e3d7452",
      "f7768fbab71ef429",
      "99b7a838b172040f"
    ],
    "x": 34,
    "y": 859
  },
  {
    "id": "2c760ae190629011",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Enable \"not home\" scene when everyone has left home",
    "style": {
      "label": true
    },
    "nodes": [
      "72cf3dd514774f5f",
      "6addbb6abca1c9c1"
    ],
    "x": 34,
    "y": 999
  },
  {
    "id": "ea9720dad10ae7bd",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm notification action",
    "style": {
      "label": true
    },
    "nodes": [
      "daf827e5ff247e6a",
      "67d1083ee5ac4427",
      "c57913cb5ac2c4b7",
      "f277febc1319bf63"
    ],
    "x": 34,
    "y": 759
  },
  {
    "id": "ac4a5fa8ce361c85",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Smoke detected",
    "style": {
      "label": true
    },
    "nodes": [
      "2e0513112b568dfa",
      "f4a0dc3f7ce96837"
    ],
    "x": 34,
    "y": 1099
  },
  {
    "id": "dbf45413091d6098",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm with persons's code",
    "style": {
      "label": true
    },
    "nodes": [
      "58d22ecab9d2941c",
      "8609e6abb78f8068",
      "7eb0434ae2b4a93a",
      "6d47bd9e0bf5c0e0",
      "1543208147c778e2"
    ],
    "x": 34,
    "y": 659
  },
  {
    "id": "819624756ad5ddb3",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Arm with persons's code",
    "style": {
      "label": true
    },
    "nodes": [
      "d802c477e4a883f3",
      "f959494e33a8d5f0",
      "f40681a2f5d0b028",
      "6cca731ae0297214",
      "8b850efc4a432f90"
    ],
    "x": 34,
    "y": 559
  },
  {
    "id": "f3fabdf91855700f",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm when somebody comes home",
    "style": {
      "label": true
    },
    "nodes": [
      "ae2f4571bf9c28d5",
      "7b9f40156304418e",
      "7b76037c19231281",
      "9d9618dfc57e63e7",
      "45072dbab86d59da",
      "edbc2d86c78d49de"
    ],
    "x": 34,
    "y": 19
  },
  {
    "id": "75e39dcb53bdacc7",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Arm when everyone has left home",
    "style": {
      "label": true
    },
    "nodes": [
      "0b509be3db326b86",
      "48c2925eb12eb26f",
      "9b0337d5217d7ff0",
      "79187bcd88145076",
      "216ec54d7e952b1a",
      "df261142f335350f",
      "9164d2928d26e029",
      "63ef5f87db497514"
    ],
    "x": 34,
    "y": 179
  },
  {
    "id": "60a6418e9202f91b",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarm when unlocking the door",
    "style": {
      "label": true
    },
    "nodes": [
      "21fd8062b7da30b0",
      "7ea3f7423d6c9264",
      "a80517abc44a8685",
      "c1fde7221f082bde",
      "7fdb715e286f081c",
      "32fd7a9c35714b19"
    ],
    "x": 34,
    "y": 339
  },
  {
    "id": "7ef139e2e248d51e",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Arming",
    "style": {
      "label": true
    },
    "nodes": [
      "6f51a29b950d44fb",
      "e70d8c5667ba29bc",
      "bc4d00155422253c"
    ],
    "x": 34,
    "y": 1199
  },
  {
    "id": "ed4cffe75ed6ed76",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Armed",
    "style": {
      "label": true
    },
    "nodes": [
      "e1ef411b8f07a9b9",
      "6d806226232b7676"
    ],
    "x": 34,
    "y": 1299
  },
  {
    "id": "b86506a392d6c223",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Triggered",
    "style": {
      "label": true
    },
    "nodes": [
      "61629b8894304c97",
      "9c8ae5cce7849820",
      "c92445daf308689d",
      "cf2385a9f70d9f00",
      "2abdf8d308f5a5a1",
      "9784bc69802e38a8"
    ],
    "x": 34,
    "y": 1399
  },
  {
    "id": "57e42db3545ef783",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Was triggered",
    "style": {
      "label": true
    },
    "nodes": [
      "674e7c15b3e9120d",
      "857e8addceeb0153",
      "63992e01881c1a45",
      "4e72c8bfe5ad53b4"
    ],
    "x": 34,
    "y": 1559
  },
  {
    "id": "7b5b32a764a9f51d",
    "type": "group",
    "z": "9081c37be56bc95b",
    "name": "Disarmed",
    "style": {
      "label": true
    },
    "nodes": [
      "62bd21148cc6e7d4",
      "a59c18f7e31fcc2e"
    ],
    "x": 34,
    "y": 1659
  },
  {
    "id": "f277febc1319bf63",
    "type": "switch",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "is correct action?",
    "property": "action_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "DISARM_[A-Z]{1,}",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 800,
    "wires": [
      [
        "c57913cb5ac2c4b7"
      ]
    ]
  },
  {
    "id": "c57913cb5ac2c4b7",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "get person from action",
    "func": "const action_name = msg.event_type;\nconst person = action_name.split('DISARM_')[1].toLowerCase()\nconst person_entity_id = `person.${person}`;\n\nreturn {\n    person: person_entity_id\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 800,
    "wires": [
      [
        "67d1083ee5ac4427"
      ]
    ]
  },
  {
    "id": "99b7a838b172040f",
    "type": "comment",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "We are sending unique notifications, therefor we are looping",
    "info": "",
    "x": 680,
    "y": 940,
    "wires": []
  },
  {
    "id": "9b0337d5217d7ff0",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "arm as guest",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "arm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": $globalContext(\"lock_code_guest\"),\t    \"mode\": \"away\",\t    \"skip_delay\": true,\t    \"force\": true\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 390,
    "y": 280,
    "wires": [
      [
        "df261142f335350f"
      ]
    ]
  },
  {
    "id": "7b76037c19231281",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "disarm as guest",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": $globalContext(\"lock_code_guest\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 120,
    "wires": [
      [
        "edbc2d86c78d49de"
      ]
    ]
  },
  {
    "id": "ada400995e3d7452",
    "type": "subflow:9577215509c764c6",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "",
    "env": [
      {
        "name": "person",
        "value": "{{payload}}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 1000,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "960bfb8e4169253b",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "create notification",
    "func": "const person_entity_id = msg.payload;\nconst person_name = person_entity_id.split('.')[1];\nconst disarm_action = `DISARM_${person_name.toUpperCase()}`;\n\nconst notify_data = {\n    \"title\": \"Larm utlöst!\",\n    \"message\": \"Håll inne för att visa mer information\",\n    \"data\": {\n        \"entity_id\": \"camera.living_room\",\n        \"push\": {\n            \"sound\": {\n                \"name\": \"default\",\n                \"critical\": 1,\n                \"volume\": 1\n            }\n        },\n        \"actions\": [\n            {\n                \"action\": disarm_action,\n                \"title\": \"Inaktivera larm\",\n                \"destructive\": true,\n                \"icon\": \"sfsymbols:bell.slash\",\n                \"authenticationRequired\": true\n            }\n        ],\n        \"persistent\": true,\n        \"tag\": \"alarm_triggered\"\n    }\n}\n\nreturn {\n    ...msg,\n    notify_data\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 900,
    "wires": [
      [
        "ada400995e3d7452"
      ]
    ]
  },
  {
    "id": "8ae24a3cefea69b6",
    "type": "split",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "for every person",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 540,
    "y": 900,
    "wires": [
      [
        "960bfb8e4169253b"
      ]
    ]
  },
  {
    "id": "694decc229ffefc0",
    "type": "subflow:bd6b3fc9fb3bede7",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "",
    "env": [
      {
        "name": "output_persons",
        "value": "payload",
        "type": "str"
      }
    ],
    "x": 340,
    "y": 900,
    "wires": [
      [
        "8ae24a3cefea69b6"
      ]
    ]
  },
  {
    "id": "f7768fbab71ef429",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "0dae13e1d2f37ed0",
    "name": "alarm triggered",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "triggered",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 140,
    "y": 900,
    "wires": [
      [
        "694decc229ffefc0"
      ],
      []
    ]
  },
  {
    "id": "6addbb6abca1c9c1",
    "type": "subflow:10bf6a612840df6b",
    "z": "9081c37be56bc95b",
    "g": "2c760ae190629011",
    "name": "",
    "x": 170,
    "y": 1040,
    "wires": [
      [
        "72cf3dd514774f5f"
      ],
      [
        "72cf3dd514774f5f"
      ]
    ]
  },
  {
    "id": "72cf3dd514774f5f",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "2c760ae190629011",
    "name": "activate scene",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "scene.not_home"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "67d1083ee5ac4427",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 880,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "daf827e5ff247e6a",
    "type": "server-events",
    "z": "9081c37be56bc95b",
    "g": "ea9720dad10ae7bd",
    "name": "notification action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "eventData": "",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "action_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event.action",
        "valueType": "jsonata"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 150,
    "y": 800,
    "wires": [
      [
        "f277febc1319bf63"
      ]
    ]
  },
  {
    "id": "1543208147c778e2",
    "type": "link out",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "link out 2",
    "mode": "return",
    "links": [],
    "x": 735,
    "y": 700,
    "wires": []
  },
  {
    "id": "8b850efc4a432f90",
    "type": "link out",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "link out 1",
    "mode": "return",
    "links": [],
    "x": 715,
    "y": 600,
    "wires": []
  },
  {
    "id": "2e0513112b568dfa",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "ac4a5fa8ce361c85",
    "name": "smoke detected",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.smoke_detected",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "f4a0dc3f7ce96837"
      ],
      []
    ]
  },
  {
    "id": "48c2925eb12eb26f",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "links": [
      "6cca731ae0297214"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 810,
    "y": 220,
    "wires": [
      [
        "79187bcd88145076"
      ]
    ]
  },
  {
    "id": "7b9f40156304418e",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 440,
    "y": 60,
    "wires": [
      [
        "9d9618dfc57e63e7"
      ]
    ]
  },
  {
    "id": "a80517abc44a8685",
    "type": "link call",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "",
    "links": [
      "6d47bd9e0bf5c0e0"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 460,
    "y": 440,
    "wires": [
      [
        "7fdb715e286f081c"
      ]
    ]
  },
  {
    "id": "6d47bd9e0bf5c0e0",
    "type": "link in",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "disarm with persons's code",
    "links": [],
    "x": 75,
    "y": 700,
    "wires": [
      [
        "58d22ecab9d2941c"
      ]
    ]
  },
  {
    "id": "6cca731ae0297214",
    "type": "link in",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "arm with persons's code",
    "links": [],
    "x": 75,
    "y": 600,
    "wires": [
      [
        "d802c477e4a883f3"
      ]
    ]
  },
  {
    "id": "7eb0434ae2b4a93a",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "disarm with code",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": msg.code\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 590,
    "y": 700,
    "wires": [
      [
        "1543208147c778e2"
      ]
    ]
  },
  {
    "id": "8609e6abb78f8068",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "get code for person",
    "func": "\nconst person_entity_id = msg.person;\n\nconst person_name = person_entity_id.split('.')[1];\n\nconst secret_key = `secrets.lock_code_${person_name}`;\n\nconst code = global.get(secret_key);\n\nreturn {\n    ...msg,\n    code\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 700,
    "wires": [
      [
        "7eb0434ae2b4a93a"
      ]
    ]
  },
  {
    "id": "58d22ecab9d2941c",
    "type": "api-current-state",
    "z": "9081c37be56bc95b",
    "g": "dbf45413091d6098",
    "name": "Armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "disarmed",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 180,
    "y": 700,
    "wires": [
      [
        "8609e6abb78f8068"
      ],
      []
    ]
  },
  {
    "id": "f40681a2f5d0b028",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "arm with code",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarmo",
    "service": "arm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.alarmo"
    ],
    "data": "{\t    \"code\": msg.code,\t    \"mode\": msg.mode,\t    \"skip_delay\": true,\t    \"force\": true\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 600,
    "wires": [
      [
        "8b850efc4a432f90"
      ]
    ]
  },
  {
    "id": "f959494e33a8d5f0",
    "type": "function",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "get code for person",
    "func": "\nconst person_entity_id = msg.person;\n\nconst person_name = person_entity_id.split('.')[1];\n\nconst secret_key = `secrets.lock_code_${person_name}`;\n\nconst code = global.get(secret_key);\n\nreturn {\n    ...msg,\n    code\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 600,
    "wires": [
      [
        "f40681a2f5d0b028"
      ]
    ]
  },
  {
    "id": "d802c477e4a883f3",
    "type": "api-current-state",
    "z": "9081c37be56bc95b",
    "g": "819624756ad5ddb3",
    "name": "armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 180,
    "y": 600,
    "wires": [
      [],
      [
        "f959494e33a8d5f0"
      ]
    ]
  },
  {
    "id": "c1fde7221f082bde",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Matilda opens the front door",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "person",
        "propertyType": "msg",
        "value": "person.matilda",
        "valueType": "str"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.main_door_operator",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "Matilda Takkula",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 180,
    "y": 500,
    "wires": [
      [
        "a80517abc44a8685"
      ],
      []
    ]
  },
  {
    "id": "7ea3f7423d6c9264",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Albin opens the front door",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "person",
        "propertyType": "msg",
        "value": "person.albin",
        "valueType": "str"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.main_door_operator",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "Albin Medoc",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 170,
    "y": 440,
    "wires": [
      [
        "a80517abc44a8685"
      ],
      []
    ]
  },
  {
    "id": "0b509be3db326b86",
    "type": "subflow:10bf6a612840df6b",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "env": [
      {
        "name": "output_person",
        "value": "person",
        "type": "str"
      }
    ],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "9164d2928d26e029"
      ],
      [
        "9b0337d5217d7ff0"
      ]
    ]
  },
  {
    "id": "ae2f4571bf9c28d5",
    "type": "subflow:5c7f108f494183f7",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "env": [
      {
        "name": "output_person",
        "value": "person",
        "type": "str"
      }
    ],
    "x": 170,
    "y": 60,
    "wires": [
      [
        "7b9f40156304418e"
      ],
      [
        "7b76037c19231281"
      ]
    ]
  },
  {
    "id": "21fd8062b7da30b0",
    "type": "comment",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "Hopefully it have already been disarmed",
    "info": "",
    "x": 220,
    "y": 380,
    "wires": []
  },
  {
    "id": "45072dbab86d59da",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 950,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "9d9618dfc57e63e7",
    "type": "change",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "create notification",
    "rules": [
      {
        "t": "set",
        "p": "notify_data",
        "pt": "msg",
        "to": "{\t    \"title\": \"Larm inaktiverat\",\t    \"message\": \t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" har kommit hem\",\t    \"data\": {\t        \"tag\": \"alarm_disarmed\"\t    }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 60,
    "wires": [
      [
        "45072dbab86d59da"
      ]
    ]
  },
  {
    "id": "edbc2d86c78d49de",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "f3fabdf91855700f",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"title\":\"Larm inaktiverat\",\"message\":\"Gäst(er) har kommit hem\",\"data\":{\"tag\":\"alarm_disarmed\"}}",
        "type": "json"
      }
    ],
    "x": 650,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "79187bcd88145076",
    "type": "change",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "create notification",
    "rules": [
      {
        "t": "set",
        "p": "notify_data",
        "pt": "msg",
        "to": "{\t    \"title\": \"Larm aktiverat\",\t    \"message\":\t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" har lämnat hem\",\t    \"data\": {\t        \"tag\": \"alarm_armed\"\t    }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 220,
    "wires": [
      [
        "216ec54d7e952b1a"
      ]
    ]
  },
  {
    "id": "216ec54d7e952b1a",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 1310,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "df261142f335350f",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"title\":\"Larm aktiverat\",\"message\":\"Gäst(er) har lämnat hem\",\"data\":{\"tag\":\"alarm_armed\"}}",
        "type": "json"
      }
    ],
    "x": 630,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "f4a0dc3f7ce96837",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "ac4a5fa8ce361c85",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"title\":\"Rök upptäckt!\",\"message\":\"Rök upptäckt i hemmet! Det kanske brinner!\",\"data\":{\"push\":{\"sound\":{\"name\":\"default\",\"critical\":1,\"volume\":1}},\"tag\":\"smoke_detected\"}}",
        "type": "json"
      }
    ],
    "x": 390,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "7fdb715e286f081c",
    "type": "change",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "create notification",
    "rules": [
      {
        "t": "set",
        "p": "notify_data",
        "pt": "msg",
        "to": "{\t    \"title\": \"Larm inaktiverat\",\t    \"message\": \t        $uppercase($substring($substringAfter(person, 'person.'), 0, 1))\t        & $substring($substringAfter(person, 'person.'), 1)\t        & \" låste upp dörren\"\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 440,
    "wires": [
      [
        "32fd7a9c35714b19"
      ]
    ]
  },
  {
    "id": "32fd7a9c35714b19",
    "type": "subflow:0543352e157255d4",
    "z": "9081c37be56bc95b",
    "g": "60a6418e9202f91b",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 970,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "61629b8894304c97",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "b86506a392d6c223",
    "name": "triggered",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "event_data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "triggered",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 120,
    "y": 1440,
    "wires": [
      [
        "9784bc69802e38a8",
        "9c8ae5cce7849820"
      ],
      []
    ]
  },
  {
    "id": "674e7c15b3e9120d",
    "type": "trigger-state",
    "z": "9081c37be56bc95b",
    "g": "57e42db3545ef783",
    "name": "was triggered",
    "server": "e9739673.bbfed8",
    "version": 2,
    "inputs": 0,
    "outputs": 2,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "disarmed"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "triggered"
      }
    ],
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 130,
    "y": 1600,
    "wires": [
      [
        "857e8addceeb0153"
      ],
      []
    ]
  },
  {
    "id": "e1ef411b8f07a9b9",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "ed4cffe75ed6ed76",
    "name": "armed",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "armed_home, armed_home, armed_night",
    "halt_if_type": "str",
    "halt_if_compare": "includes",
    "output_only_on_state_change": true,
    "x": 110,
    "y": 1340,
    "wires": [
      [
        "6d806226232b7676"
      ],
      []
    ]
  },
  {
    "id": "62bd21148cc6e7d4",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "7b5b32a764a9f51d",
    "name": "disarmed",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "disarmed",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 120,
    "y": 1700,
    "wires": [
      [
        "a59c18f7e31fcc2e"
      ],
      []
    ]
  },
  {
    "id": "a59c18f7e31fcc2e",
    "type": "subflow:ad0b3a8015e7f49b",
    "z": "9081c37be56bc95b",
    "g": "7b5b32a764a9f51d",
    "name": "",
    "env": [
      {
        "name": "media_content_id",
        "value": "media-source://media_source/local/alarm_inactivated.mp3",
        "type": "str"
      },
      {
        "name": "volume_level",
        "value": "0.3",
        "type": "str"
      }
    ],
    "x": 290,
    "y": 1700,
    "wires": [
      []
    ]
  },
  {
    "id": "9c8ae5cce7849820",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "b86506a392d6c223",
    "name": "turn on camera sirens",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "siren",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "siren.camera_aleas_room_siren",
      "siren.camera_elinas_room_siren",
      "siren.camera_garden_siren",
      "siren.camera_living_room_siren"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 320,
    "y": 1440,
    "wires": [
      [
        "cf2385a9f70d9f00"
      ]
    ]
  },
  {
    "id": "857e8addceeb0153",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "57e42db3545ef783",
    "name": "turn off camera sirens",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "siren",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "siren.camera_aleas_room_siren",
      "siren.camera_elinas_room_siren",
      "siren.camera_garden_siren",
      "siren.camera_living_room_siren"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 340,
    "y": 1600,
    "wires": [
      [
        "4e72c8bfe5ad53b4"
      ]
    ]
  },
  {
    "id": "c92445daf308689d",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "b86506a392d6c223",
    "name": "turn off privacy",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_kids_bedroom_privacy",
      "switch.camera_elinas_room_privacy",
      "switch.camera_garden_privacy",
      "switch.camera_living_room_privacy"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 780,
    "y": 1440,
    "wires": [
      []
    ]
  },
  {
    "id": "cf2385a9f70d9f00",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "b86506a392d6c223",
    "name": "take privacy snapshot",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "scene",
    "service": "create",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"scene_id\":\"privacy_copy\",\"snapshot_entities\":[\"switch.camera_kids_bedroom_privacy\",\"switch.camera_elinas_room_privacy\",\"switch.camera_garden_privacy\",\"switch.camera_living_room_privacy\"]}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 1440,
    "wires": [
      [
        "c92445daf308689d"
      ]
    ]
  },
  {
    "id": "63992e01881c1a45",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "g": "57e42db3545ef783",
    "name": "restore privacy",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "scene",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"entity_id\":\"scene.privacy_copy\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 860,
    "y": 1600,
    "wires": [
      []
    ]
  },
  {
    "id": "6d806226232b7676",
    "type": "subflow:ad0b3a8015e7f49b",
    "z": "9081c37be56bc95b",
    "g": "ed4cffe75ed6ed76",
    "name": "",
    "env": [
      {
        "name": "media_content_id",
        "value": "media-source://media_source/local/alarm_activated.mp3",
        "type": "str"
      },
      {
        "name": "volume_level",
        "value": "0.2",
        "type": "str"
      }
    ],
    "x": 270,
    "y": 1340,
    "wires": [
      []
    ]
  },
  {
    "id": "2abdf8d308f5a5a1",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "d": true,
    "g": "b86506a392d6c223",
    "name": "turn on smoke detector sirens",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "siren",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "siren.smoke_detector_kids_bedroom",
      "siren.smoke_detector_bedroom",
      "siren.smoke_detector_living_room"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 550,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "4e72c8bfe5ad53b4",
    "type": "api-call-service",
    "z": "9081c37be56bc95b",
    "d": true,
    "g": "57e42db3545ef783",
    "name": "turn off smoke detector sirens",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "siren",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "siren.smoke_detector_kids_bedroom",
      "siren.smoke_detector_bedroom",
      "siren.smoke_detector_living_room"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 610,
    "y": 1600,
    "wires": [
      [
        "63992e01881c1a45"
      ]
    ]
  },
  {
    "id": "9784bc69802e38a8",
    "type": "switch",
    "z": "9081c37be56bc95b",
    "g": "b86506a392d6c223",
    "name": "armed_away?",
    "property": "attributes.arm_mode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "armed_away",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 1500,
    "wires": [
      [
        "2abdf8d308f5a5a1"
      ]
    ]
  },
  {
    "id": "6f51a29b950d44fb",
    "type": "server-state-changed",
    "z": "9081c37be56bc95b",
    "g": "7ef139e2e248d51e",
    "name": "arming",
    "server": "e9739673.bbfed8",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "event_data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "arming",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 110,
    "y": 1240,
    "wires": [
      [
        "e70d8c5667ba29bc"
      ],
      []
    ]
  },
  {
    "id": "e70d8c5667ba29bc",
    "type": "switch",
    "z": "9081c37be56bc95b",
    "g": "7ef139e2e248d51e",
    "name": "armed_away?",
    "property": "attributes.arm_mode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "armed_away",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 280,
    "y": 1240,
    "wires": [
      [
        "bc4d00155422253c"
      ]
    ]
  },
  {
    "id": "bc4d00155422253c",
    "type": "subflow:c0dcc6a2aeb58851",
    "z": "9081c37be56bc95b",
    "g": "7ef139e2e248d51e",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"title\":\"Lämna huset\",\"message\":\"Larmet kommer aktiveras snart, lämna huset.\"}",
        "type": "json"
      }
    ],
    "x": 550,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "9164d2928d26e029",
    "type": "api-current-state",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "Dog mode?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.dog_mode",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "dog_mode",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 390,
    "y": 220,
    "wires": [
      [
        "63ef5f87db497514"
      ]
    ]
  },
  {
    "id": "63ef5f87db497514",
    "type": "change",
    "z": "9081c37be56bc95b",
    "g": "75e39dcb53bdacc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "mode",
        "pt": "msg",
        "to": "dog_mode ? 'home' : 'away'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 220,
    "wires": [
      [
        "48c2925eb12eb26f"
      ]
    ]
  }
]