node-red/flows/Cameras.json
[
  {
    "id": "896b946718d5907e",
    "type": "tab",
    "label": "Cameras",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d38d059c9d7b5a0b",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Ström",
    "style": {
      "label": true
    },
    "nodes": [
      "5470da52f33fe08a",
      "58bd23dd8dcd24ea",
      "1de41cddb747f07a",
      "c26011848a0452d9"
    ],
    "x": 14,
    "y": 19,
    "w": 692,
    "h": 122
  },
  {
    "id": "7f0fd93a794c7b06",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Frigate detektering",
    "style": {
      "label": true
    },
    "nodes": [
      "f69b707795505743",
      "323f86dd9f5cfe60",
      "42b0cc1871b8a238",
      "5c5b3aa476f223fc",
      "188eafc3351bc25b",
      "65464ae93d2f9049"
    ],
    "x": 14,
    "y": 179,
    "w": 692,
    "h": 202
  },
  {
    "id": "2b75c890eff44cfb",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Katt upptäckt i trädgård",
    "style": {
      "label": true
    },
    "nodes": [
      "3fc508453f5a4bf3",
      "1f21716b9f95f12a"
    ],
    "x": 14,
    "y": 759,
    "w": 372,
    "h": 82
  },
  {
    "id": "00a032e1b75fa8ed",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Dinos kamera tillgänlig",
    "style": {
      "label": true
    },
    "nodes": [
      "eba99b674a6786c2",
      "0785c72b9a19417f",
      "04270f65108df369"
    ],
    "x": 14,
    "y": 879,
    "w": 572,
    "h": 142
  },
  {
    "id": "4c15814e70f47579",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Sätt på Frigate detektering",
    "style": {
      "label": true
    },
    "nodes": [
      "2c750d4af2bd120d",
      "6940bf6683b4aebf",
      "0edde5a2851621bf",
      "f7fe8768fc840c88"
    ],
    "x": 24,
    "y": 439,
    "w": 552,
    "h": 122
  },
  {
    "id": "c22c4a091c121592",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Stäng av Frigate detektering",
    "style": {
      "label": true
    },
    "nodes": [
      "fa2b3ff1649226df",
      "4d492a08813a661b",
      "96857ff3173d69ae",
      "f89a67c47ead920b"
    ],
    "x": 24,
    "y": 579,
    "w": 552,
    "h": 122
  },
  {
    "id": "5470da52f33fe08a",
    "type": "subflow:5da5355c5d6e8223",
    "z": "896b946718d5907e",
    "g": "d38d059c9d7b5a0b",
    "name": "",
    "x": 140,
    "y": 80,
    "wires": [
      [
        "58bd23dd8dcd24ea"
      ]
    ]
  },
  {
    "id": "58bd23dd8dcd24ea",
    "type": "api-current-state",
    "z": "896b946718d5907e",
    "g": "d38d059c9d7b5a0b",
    "name": "Larmat?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 340,
    "y": 80,
    "wires": [
      [
        "c26011848a0452d9"
      ],
      [
        "1de41cddb747f07a"
      ]
    ]
  },
  {
    "id": "1de41cddb747f07a",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "d38d059c9d7b5a0b",
    "name": "Vardagsrum - Stäng av ström",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_privacy"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "c26011848a0452d9",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "d38d059c9d7b5a0b",
    "name": "Vardagsrum - Sätt på ström",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_privacy"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "f69b707795505743",
    "type": "subflow:5da5355c5d6e8223",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "",
    "x": 140,
    "y": 280,
    "wires": [
      [
        "323f86dd9f5cfe60"
      ]
    ]
  },
  {
    "id": "323f86dd9f5cfe60",
    "type": "api-current-state",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "Larmat?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 340,
    "y": 280,
    "wires": [
      [
        "188eafc3351bc25b"
      ],
      [
        "65464ae93d2f9049"
      ]
    ]
  },
  {
    "id": "3fc508453f5a4bf3",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "2b75c890eff44cfb",
    "name": "Katt upptäckt",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.camera_garden_cat_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 800,
    "wires": [
      [
        "1f21716b9f95f12a"
      ],
      []
    ]
  },
  {
    "id": "eba99b674a6786c2",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "Kamera Dino Tillgänglig",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "camera.camera_dino_hd_stream",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "unavailable",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 920,
    "wires": [
      [
        "0785c72b9a19417f",
        "04270f65108df369"
      ],
      []
    ]
  },
  {
    "id": "0785c72b9a19417f",
    "type": "subflow:c0dcc6a2aeb58851",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"message\":\"Dinos kamera är tillgänglig\"}",
        "type": "json"
      }
    ],
    "x": 420,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "04270f65108df369",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.homepod_kitchen",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Dinos kamera är tillgänglig",
        "type": "str"
      }
    ],
    "x": 350,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "1f21716b9f95f12a",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "896b946718d5907e",
    "g": "2b75c890eff44cfb",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.homepod_kitchen",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Elina och Alea! Det är en katt i trädgården. Gå dit och titta.",
        "type": "str"
      },
      {
        "name": "volume_level",
        "value": "0.5",
        "type": "num"
      }
    ],
    "x": 290,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "2c750d4af2bd120d",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "4c15814e70f47579",
    "name": "Sätt på Frigate detektering",
    "links": [],
    "x": 65,
    "y": 500,
    "wires": [
      [
        "0edde5a2851621bf",
        "f7fe8768fc840c88"
      ]
    ]
  },
  {
    "id": "6940bf6683b4aebf",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "4c15814e70f47579",
    "name": "link out 3",
    "mode": "return",
    "links": [],
    "x": 535,
    "y": 480,
    "wires": []
  },
  {
    "id": "0edde5a2851621bf",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "4c15814e70f47579",
    "name": "Barnens Sovrum - Sätt på Frigate detektering",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_kids_bedroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 480,
    "wires": [
      [
        "6940bf6683b4aebf"
      ]
    ]
  },
  {
    "id": "f7fe8768fc840c88",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "4c15814e70f47579",
    "name": "Vardagsrum - Sätt på Frigate detektering",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "fa2b3ff1649226df",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "c22c4a091c121592",
    "name": "Stäng av Frigate detektering",
    "links": [],
    "x": 65,
    "y": 640,
    "wires": [
      [
        "f89a67c47ead920b",
        "96857ff3173d69ae"
      ]
    ]
  },
  {
    "id": "4d492a08813a661b",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "c22c4a091c121592",
    "name": "link out 4",
    "mode": "return",
    "links": [],
    "x": 535,
    "y": 620,
    "wires": []
  },
  {
    "id": "96857ff3173d69ae",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "c22c4a091c121592",
    "name": "Vardagsrum - Stäng av Frigate detektering",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "f89a67c47ead920b",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "c22c4a091c121592",
    "name": "Barnens Sovrum - Stäng av Frigate detektering",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_kids_bedroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 620,
    "wires": [
      [
        "4d492a08813a661b"
      ]
    ]
  },
  {
    "id": "42b0cc1871b8a238",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "Larmat",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 90,
    "y": 220,
    "wires": [
      [
        "188eafc3351bc25b"
      ],
      []
    ]
  },
  {
    "id": "5c5b3aa476f223fc",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "Avlarmat",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "alarm_control_panel.alarmo",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "disarmed",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 100,
    "y": 340,
    "wires": [
      [
        "65464ae93d2f9049"
      ],
      []
    ]
  },
  {
    "id": "188eafc3351bc25b",
    "type": "link call",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "",
    "links": [
      "2c750d4af2bd120d"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 560,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "65464ae93d2f9049",
    "type": "link call",
    "z": "896b946718d5907e",
    "g": "7f0fd93a794c7b06",
    "name": "",
    "links": [
      "fa2b3ff1649226df"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 560,
    "y": 340,
    "wires": [
      []
    ]
  }
]