node-red/flows/Cameras.json
[
  {
    "id": "896b946718d5907e",
    "type": "tab",
    "label": "Cameras",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "00a032e1b75fa8ed",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Camera Dino Available",
    "style": {
      "label": true
    },
    "nodes": [
      "eba99b674a6786c2",
      "0785c72b9a19417f",
      "04270f65108df369"
    ],
    "x": 44,
    "y": 559,
    "w": 592,
    "h": 142
  },
  {
    "id": "2b75c890eff44cfb",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Cat detected in Garden",
    "style": {
      "label": true
    },
    "nodes": [
      "3fc508453f5a4bf3",
      "1f21716b9f95f12a"
    ],
    "x": 44,
    "y": 439,
    "w": 352,
    "h": 82
  },
  {
    "id": "ec260776601b15bd",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn off frigate snapshots",
    "style": {
      "label": true
    },
    "nodes": [
      "c274c5fc78c6ed79",
      "4db1542ebba481ee",
      "7f832b8e9eefdd27"
    ],
    "x": 44,
    "y": 1399,
    "w": 552,
    "h": 82
  },
  {
    "id": "e7e05890b1c08c7e",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn on frigate snapshots",
    "style": {
      "label": true
    },
    "nodes": [
      "f9a9d763c873ef7d",
      "c3613d99ba4b682f",
      "030247dadaf91fed"
    ],
    "x": 44,
    "y": 1299,
    "w": 552,
    "h": 82
  },
  {
    "id": "cfed098803bc16cd",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn off frigate recording",
    "style": {
      "label": true
    },
    "nodes": [
      "ddd26b60dcf9adf4",
      "f6d5066046175e3d",
      "2a123fdb611d4352"
    ],
    "x": 44,
    "y": 1199,
    "w": 552,
    "h": 82
  },
  {
    "id": "7ad94aaec9160b50",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn on frigate recording",
    "style": {
      "label": true
    },
    "nodes": [
      "122e0508126adfa7",
      "74706fe0bda77c41",
      "7daa5915c3daa539"
    ],
    "x": 44,
    "y": 1099,
    "w": 552,
    "h": 82
  },
  {
    "id": "0a04ea6bece547ae",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn off frigate detection",
    "style": {
      "label": true
    },
    "nodes": [
      "d2f9fca8ac1c76a3",
      "595040b26ad6e859",
      "e636b99adc958b4a",
      "50af51a9914bbeeb",
      "22e5e39a66497c6d"
    ],
    "x": 44,
    "y": 919,
    "w": 552,
    "h": 162
  },
  {
    "id": "037b270105a5e078",
    "type": "group",
    "z": "896b946718d5907e",
    "name": "Turn on frigate detection",
    "style": {
      "label": true
    },
    "nodes": [
      "620711191d1dde67",
      "040015a0a2cff3c7",
      "932949eed4e341ae",
      "d919babce7e295d8",
      "a75318f9898f8b2f"
    ],
    "x": 44,
    "y": 739,
    "w": 552,
    "h": 162
  },
  {
    "id": "815082aec75c4eb0",
    "type": "junction",
    "z": "896b946718d5907e",
    "x": 660,
    "y": 120,
    "wires": [
      [
        "37b264ed6bd25086",
        "fa7559574e3b6a04",
        "4c7b2f9c15ff6edd",
        "c1527206c9bd3d84"
      ]
    ]
  },
  {
    "id": "0c7d660cbda17a5d",
    "type": "junction",
    "z": "896b946718d5907e",
    "x": 660,
    "y": 320,
    "wires": [
      [
        "89850c8c4f089feb",
        "a85121ba699412b2",
        "be6c27833665ccde",
        "0490f783d7c754f7"
      ]
    ]
  },
  {
    "id": "e7a30a411a01fbd5",
    "type": "junction",
    "z": "896b946718d5907e",
    "x": 580,
    "y": 60,
    "wires": [
      [
        "815082aec75c4eb0"
      ]
    ]
  },
  {
    "id": "1b0fcd078f9a65f2",
    "type": "junction",
    "z": "896b946718d5907e",
    "x": 580,
    "y": 380,
    "wires": [
      [
        "0c7d660cbda17a5d"
      ]
    ]
  },
  {
    "id": "04270f65108df369",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Dinos kamera är tillgänglig",
        "type": "str"
      }
    ],
    "x": 370,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "0785c72b9a19417f",
    "type": "subflow:c0dcc6a2aeb58851",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"message\":\"Dinos kamera är tillgänglig\"}",
        "type": "json"
      }
    ],
    "x": 460,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "eba99b674a6786c2",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "00a032e1b75fa8ed",
    "name": "camera Dino available",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "camera.camera_dino_hd_stream",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "unavailable",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 170,
    "y": 600,
    "wires": [
      [
        "0785c72b9a19417f",
        "04270f65108df369"
      ],
      []
    ]
  },
  {
    "id": "1f21716b9f95f12a",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "896b946718d5907e",
    "g": "2b75c890eff44cfb",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Elina och Alea! Det är en katt i trädgården. Gå dit och titta.",
        "type": "str"
      },
      {
        "name": "volume_level",
        "value": "0.5",
        "type": "num"
      }
    ],
    "x": 310,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "3fc508453f5a4bf3",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "g": "2b75c890eff44cfb",
    "name": "cat detected",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.camera_garden_cat_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 480,
    "wires": [
      [
        "1f21716b9f95f12a"
      ],
      []
    ]
  },
  {
    "id": "7f832b8e9eefdd27",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "ec260776601b15bd",
    "name": "garden - turn off frigate snapshots",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.garden_snapshots"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 1440,
    "wires": [
      [
        "4db1542ebba481ee"
      ]
    ]
  },
  {
    "id": "4db1542ebba481ee",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "ec260776601b15bd",
    "name": "link out 10",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1440,
    "wires": []
  },
  {
    "id": "c274c5fc78c6ed79",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "ec260776601b15bd",
    "name": "turn off frigate snapshots",
    "links": [],
    "x": 85,
    "y": 1440,
    "wires": [
      [
        "7f832b8e9eefdd27"
      ]
    ]
  },
  {
    "id": "030247dadaf91fed",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "e7e05890b1c08c7e",
    "name": "garden - turn on frigate snapshots",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.garden_snapshots"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 1340,
    "wires": [
      [
        "c3613d99ba4b682f"
      ]
    ]
  },
  {
    "id": "c3613d99ba4b682f",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "e7e05890b1c08c7e",
    "name": "link out 9",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1340,
    "wires": []
  },
  {
    "id": "f9a9d763c873ef7d",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "e7e05890b1c08c7e",
    "name": "turn on frigate snapshots",
    "links": [],
    "x": 85,
    "y": 1340,
    "wires": [
      [
        "030247dadaf91fed"
      ]
    ]
  },
  {
    "id": "2a123fdb611d4352",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "cfed098803bc16cd",
    "name": "garden - turn off frigate recording",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.garden_recordings"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 1240,
    "wires": [
      [
        "f6d5066046175e3d"
      ]
    ]
  },
  {
    "id": "f6d5066046175e3d",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "cfed098803bc16cd",
    "name": "link out 8",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1240,
    "wires": []
  },
  {
    "id": "ddd26b60dcf9adf4",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "cfed098803bc16cd",
    "name": "turn off frigate recording",
    "links": [],
    "x": 85,
    "y": 1240,
    "wires": [
      [
        "2a123fdb611d4352"
      ]
    ]
  },
  {
    "id": "7daa5915c3daa539",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "7ad94aaec9160b50",
    "name": "garden - turn on frigate recording",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.garden_recordings"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 1140,
    "wires": [
      [
        "74706fe0bda77c41"
      ]
    ]
  },
  {
    "id": "74706fe0bda77c41",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "7ad94aaec9160b50",
    "name": "link out 7",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1140,
    "wires": []
  },
  {
    "id": "122e0508126adfa7",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "7ad94aaec9160b50",
    "name": "turn on frigate recording",
    "links": [],
    "x": 85,
    "y": 1140,
    "wires": [
      [
        "7daa5915c3daa539"
      ]
    ]
  },
  {
    "id": "50af51a9914bbeeb",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "0a04ea6bece547ae",
    "name": "kids bedroom - turn off frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_kids_bedroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 960,
    "wires": [
      [
        "595040b26ad6e859"
      ]
    ]
  },
  {
    "id": "e636b99adc958b4a",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "0a04ea6bece547ae",
    "name": "playroom - turn off frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_playroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "595040b26ad6e859",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "0a04ea6bece547ae",
    "name": "link out 6",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 960,
    "wires": []
  },
  {
    "id": "d2f9fca8ac1c76a3",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "0a04ea6bece547ae",
    "name": "turn off frigate detection",
    "links": [],
    "x": 85,
    "y": 1000,
    "wires": [
      [
        "50af51a9914bbeeb",
        "e636b99adc958b4a",
        "22e5e39a66497c6d"
      ]
    ]
  },
  {
    "id": "d919babce7e295d8",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "037b270105a5e078",
    "name": "playroom - turn on frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_playroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 280,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "932949eed4e341ae",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "037b270105a5e078",
    "name": "kids bedroom - turn on frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_kids_bedroom_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 780,
    "wires": [
      [
        "040015a0a2cff3c7"
      ]
    ]
  },
  {
    "id": "040015a0a2cff3c7",
    "type": "link out",
    "z": "896b946718d5907e",
    "g": "037b270105a5e078",
    "name": "link out 5",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 780,
    "wires": []
  },
  {
    "id": "620711191d1dde67",
    "type": "link in",
    "z": "896b946718d5907e",
    "g": "037b270105a5e078",
    "name": "turn on frigate detection",
    "links": [],
    "x": 85,
    "y": 820,
    "wires": [
      [
        "932949eed4e341ae",
        "d919babce7e295d8",
        "a75318f9898f8b2f"
      ]
    ]
  },
  {
    "id": "c9d915e2f97d6a59",
    "type": "subflow:5da5355c5d6e8223",
    "z": "896b946718d5907e",
    "name": "",
    "x": 140,
    "y": 220,
    "wires": [
      [
        "38e61d6740a581c0"
      ]
    ]
  },
  {
    "id": "89850c8c4f089feb",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "d2f9fca8ac1c76a3"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "37b264ed6bd25086",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "620711191d1dde67"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "fa7559574e3b6a04",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "122e0508126adfa7"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "4c7b2f9c15ff6edd",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "f9a9d763c873ef7d"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "a85121ba699412b2",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "ddd26b60dcf9adf4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "be6c27833665ccde",
    "type": "link call",
    "z": "896b946718d5907e",
    "name": "",
    "links": [
      "c274c5fc78c6ed79"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "c1527206c9bd3d84",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "name": "living room - turn off stream",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_privacy"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 860,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "0490f783d7c754f7",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "name": "living room - turn on stream",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_privacy"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 860,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "10bf47c0fe75244a",
    "type": "api-current-state",
    "z": "896b946718d5907e",
    "name": "nightmode is on",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.night_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 520,
    "y": 220,
    "wires": [
      [
        "815082aec75c4eb0"
      ],
      [
        "0c7d660cbda17a5d"
      ]
    ]
  },
  {
    "id": "41f87af907ac8d0f",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "name": "nigtmode on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 150,
    "y": 100,
    "wires": [
      [
        "e7a30a411a01fbd5"
      ],
      []
    ]
  },
  {
    "id": "33b62c7a49ba7115",
    "type": "server-state-changed",
    "z": "896b946718d5907e",
    "name": "nigtmode off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 150,
    "y": 340,
    "wires": [
      [
        "1b0fcd078f9a65f2"
      ],
      []
    ]
  },
  {
    "id": "b2c7d8da6b5cdc45",
    "type": "subflow:10bf6a612840df6b",
    "z": "896b946718d5907e",
    "name": "",
    "x": 190,
    "y": 140,
    "wires": [
      [
        "e7a30a411a01fbd5"
      ],
      [
        "e7a30a411a01fbd5"
      ]
    ]
  },
  {
    "id": "e529e58b8ce90383",
    "type": "subflow:5c7f108f494183f7",
    "z": "896b946718d5907e",
    "name": "",
    "x": 190,
    "y": 300,
    "wires": [
      [
        "1b0fcd078f9a65f2"
      ],
      [
        "1b0fcd078f9a65f2"
      ]
    ]
  },
  {
    "id": "38e61d6740a581c0",
    "type": "api-current-state",
    "z": "896b946718d5907e",
    "name": "no one home",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "entity_id": "zone.home",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 310,
    "y": 220,
    "wires": [
      [
        "815082aec75c4eb0"
      ],
      [
        "10bf47c0fe75244a"
      ]
    ]
  },
  {
    "id": "a75318f9898f8b2f",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "037b270105a5e078",
    "name": "living room - turn on frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "22e5e39a66497c6d",
    "type": "api-call-service",
    "z": "896b946718d5907e",
    "g": "0a04ea6bece547ae",
    "name": "living room - turn off frigate detection",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.camera_living_room_frigate_detect"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 1040,
    "wires": [
      []
    ]
  }
]