node-red/flows/Conservatory.json
[
  {
    "id": "daacfe2a16777066",
    "type": "tab",
    "label": "Conservatory",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a9e671de5246ac26",
    "type": "server-state-changed",
    "z": "daacfe2a16777066",
    "name": "AirFryer inactive for 10 min",
    "server": "e9739673.bbfed8",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.airfryer_conservatory_active_power",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "num",
    "ifState": "0",
    "ifStateType": "num",
    "ifStateOperator": "lte",
    "outputOnlyOnStateChange": true,
    "for": "10",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 150,
    "y": 60,
    "wires": [
      [
        "e8942a25ba76345f"
      ],
      []
    ]
  },
  {
    "id": "e8942a25ba76345f",
    "type": "api-call-service",
    "z": "daacfe2a16777066",
    "name": "turn off AirFryer",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.airfryer_conservatory"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 380,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "a526ef94483bf48b",
    "type": "server-state-changed",
    "z": "daacfe2a16777066",
    "name": "Main door opens",
    "server": "e9739673.bbfed8",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.door_main_hallway",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "habool",
    "ifState": "true",
    "ifStateType": "bool",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 120,
    "y": 120,
    "wires": [
      [
        "3f3d8c7b0603765b"
      ],
      []
    ]
  },
  {
    "id": "3f3d8c7b0603765b",
    "type": "api-current-state",
    "z": "daacfe2a16777066",
    "name": "Conservatory door open",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_conservatory",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 350,
    "y": 120,
    "wires": [
      [
        "0a5d10d02cae3bd3"
      ],
      []
    ]
  },
  {
    "id": "0a5d10d02cae3bd3",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "daacfe2a16777066",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Uterumsdörren är öppen",
        "type": "str"
      }
    ],
    "x": 560,
    "y": 120,
    "wires": [
      []
    ]
  }
]