node-red/flows/Home Assistant.json
[
  {
    "id": "9d7cd8ae.f2fe48",
    "type": "tab",
    "label": "Home Assistant",
    "disabled": false,
    "info": ""
  },
  {
    "id": "66018497c55e5c67",
    "type": "group",
    "z": "9d7cd8ae.f2fe48",
    "name": "Notify when available NS Panel version",
    "style": {
      "label": true
    },
    "nodes": [
      "3ca4a76f1baed55f",
      "6ed9e60aeed51db7"
    ],
    "x": 34,
    "y": 539,
    "w": 532,
    "h": 82
  },
  {
    "id": "a2a2c7d13b2d1495",
    "type": "group",
    "z": "9d7cd8ae.f2fe48",
    "name": "Notify when available HACS update",
    "style": {
      "label": true
    },
    "nodes": [
      "f876c5ceabd6750a",
      "f3ed7dd986d07d37",
      "0b4e37880bc471a9"
    ],
    "x": 34,
    "y": 439,
    "w": 652,
    "h": 82
  },
  {
    "id": "d45aea997f43d7df",
    "type": "group",
    "z": "9d7cd8ae.f2fe48",
    "name": "Notify when available HA update",
    "style": {
      "label": true
    },
    "nodes": [
      "4b411ef3ab4191f7",
      "7c9eac7cf14500bf"
    ],
    "x": 34,
    "y": 339,
    "w": 472,
    "h": 82
  },
  {
    "id": "2e59710b52d84cd4",
    "type": "group",
    "z": "9d7cd8ae.f2fe48",
    "name": "Reboot Intel NUC",
    "style": {
      "label": true
    },
    "nodes": [
      "aad95164dda26a61",
      "bc6575adb8f391d5"
    ],
    "x": 34,
    "y": 239,
    "w": 392,
    "h": 82
  },
  {
    "id": "86f8f4678672d22a",
    "type": "group",
    "z": "9d7cd8ae.f2fe48",
    "name": "Load yaml files at startup",
    "style": {
      "label": true
    },
    "nodes": [
      "ac0fc7a.efcc038",
      "2b7ad1b2216adaa5",
      "a8831142feb93a3c",
      "ee0ceb693d698385"
    ],
    "x": 34,
    "y": 39,
    "w": 472,
    "h": 182
  },
  {
    "id": "6ed9e60aeed51db7",
    "type": "api-call-service",
    "z": "9d7cd8ae.f2fe48",
    "g": "66018497c55e5c67",
    "name": "send notification to Albin",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_albin_iphone",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"message\": \"Det finns en ny version av NS Panel (\" & version & \")!\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 430,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "3ca4a76f1baed55f",
    "type": "server-state-changed",
    "z": "9d7cd8ae.f2fe48",
    "g": "66018497c55e5c67",
    "name": "NS Panel blueprint version",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.nspanel_blueprint_latest_version",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "version",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 170,
    "y": 580,
    "wires": [
      [
        "6ed9e60aeed51db7"
      ]
    ]
  },
  {
    "id": "0b4e37880bc471a9",
    "type": "function",
    "z": "9d7cd8ae.f2fe48",
    "g": "a2a2c7d13b2d1495",
    "name": "create message",
    "func": "const repositories = msg.data.attributes.repositories;\n\nconst repository_names = repositories.map((repository) => repository.display_name);\n\nconst getRepositoryNameText = (repository_names) => {\n    // Get the last repository name\n    const last_repository_name = repository_names.pop();\n\n    // If there is any more repository names\n    if (repository_names.length > 0) {\n        return `${repository_names.join(', ')} och ${last_repository_name}`;\n    }\n    return last_repository_name;\n}\n\nconst message = `Det finns en ny HACS uppdatering, ${getRepositoryNameText(repository_names)}.`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 480,
    "wires": [
      [
        "f3ed7dd986d07d37"
      ]
    ]
  },
  {
    "id": "f3ed7dd986d07d37",
    "type": "api-call-service",
    "z": "9d7cd8ae.f2fe48",
    "g": "a2a2c7d13b2d1495",
    "name": "send notification to Albin",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_albin_iphone",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"message\": \"Det finns en ny uppdatering!\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 550,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "f876c5ceabd6750a",
    "type": "server-state-changed",
    "z": "9d7cd8ae.f2fe48",
    "g": "a2a2c7d13b2d1495",
    "name": "HACS update",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.hacs",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 130,
    "y": 480,
    "wires": [
      [
        "0b4e37880bc471a9"
      ],
      []
    ]
  },
  {
    "id": "7c9eac7cf14500bf",
    "type": "api-call-service",
    "z": "9d7cd8ae.f2fe48",
    "g": "d45aea997f43d7df",
    "name": "send notification to Albin",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_albin_iphone",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"message\": \"Det finns en ny version av Home Assistant!\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 370,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "4b411ef3ab4191f7",
    "type": "server-state-changed",
    "z": "9d7cd8ae.f2fe48",
    "g": "d45aea997f43d7df",
    "name": "HA Core update",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "update.home_assistant_core_update",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 380,
    "wires": [
      [
        "7c9eac7cf14500bf"
      ],
      []
    ]
  },
  {
    "id": "bc6575adb8f391d5",
    "type": "api-call-service",
    "z": "9d7cd8ae.f2fe48",
    "g": "2e59710b52d84cd4",
    "name": "reboot Intel NUC",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "hassio",
    "service": "host_reboot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 310,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "aad95164dda26a61",
    "type": "inject",
    "z": "9d7cd8ae.f2fe48",
    "g": "2e59710b52d84cd4",
    "name": "03.00",
    "props": [],
    "repeat": "",
    "crontab": "00 03 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 280,
    "wires": [
      [
        "bc6575adb8f391d5"
      ]
    ]
  },
  {
    "id": "2b7ad1b2216adaa5",
    "type": "subflow:5da5355c5d6e8223",
    "z": "9d7cd8ae.f2fe48",
    "g": "86f8f4678672d22a",
    "name": "",
    "x": 120,
    "y": 140,
    "wires": [
      [
        "a8831142feb93a3c",
        "ee0ceb693d698385"
      ]
    ]
  },
  {
    "id": "ac0fc7a.efcc038",
    "type": "comment",
    "z": "9d7cd8ae.f2fe48",
    "g": "86f8f4678672d22a",
    "name": "Run at HA start",
    "info": "",
    "x": 140,
    "y": 80,
    "wires": []
  },
  {
    "id": "a8831142feb93a3c",
    "type": "subflow:a85b024b9414b0d3",
    "z": "9d7cd8ae.f2fe48",
    "g": "86f8f4678672d22a",
    "name": "load secrets.yaml",
    "env": [
      {
        "name": "path",
        "value": "/config/secrets.yaml",
        "type": "str"
      },
      {
        "name": "global_variable",
        "value": "secrets",
        "type": "str"
      }
    ],
    "x": 310,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "ee0ceb693d698385",
    "type": "subflow:a85b024b9414b0d3",
    "z": "9d7cd8ae.f2fe48",
    "g": "86f8f4678672d22a",
    "name": "load notification_opt_out.yaml",
    "env": [
      {
        "name": "path",
        "value": "/config/notification_opt_out.yaml",
        "type": "str"
      },
      {
        "name": "global_variable",
        "value": "opt_outs",
        "type": "str"
      }
    ],
    "x": 350,
    "y": 180,
    "wires": [
      []
    ]
  }
]