node-red/flows/Motion sensors.json
[
  {
    "id": "8cf7f0d9a08b3655",
    "type": "tab",
    "label": "Motion sensors",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "016692fb15240c40",
    "type": "group",
    "z": "8cf7f0d9a08b3655",
    "name": "Toalett",
    "style": {
      "label": true
    },
    "nodes": [
      "67bf15aa9af16432",
      "8b1f0a4ff7923be3",
      "e70d386a804b3186"
    ],
    "x": 34,
    "y": 39,
    "w": 492,
    "h": 162
  },
  {
    "id": "a2c59dab1c39eb27",
    "type": "group",
    "z": "8cf7f0d9a08b3655",
    "name": "Badrum",
    "style": {
      "label": true
    },
    "nodes": [
      "2fe0ef961a349355",
      "a13be603a67e703a"
    ],
    "x": 34,
    "y": 219,
    "w": 492,
    "h": 82
  },
  {
    "id": "15764dd4cae9897a",
    "type": "group",
    "z": "8cf7f0d9a08b3655",
    "name": "Garderob",
    "style": {
      "label": true
    },
    "nodes": [
      "89e55bc55da527d0",
      "b9e07ea95cb6d8e1"
    ],
    "x": 34,
    "y": 319,
    "w": 512,
    "h": 82
  },
  {
    "id": "67bf15aa9af16432",
    "type": "server-state-changed",
    "z": "8cf7f0d9a08b3655",
    "g": "016692fb15240c40",
    "name": "Rörelse Toalett",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_toilet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "5",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 120,
    "wires": [
      [
        "8b1f0a4ff7923be3"
      ],
      [
        "e70d386a804b3186"
      ]
    ]
  },
  {
    "id": "8b1f0a4ff7923be3",
    "type": "api-call-service",
    "z": "8cf7f0d9a08b3655",
    "g": "016692fb15240c40",
    "name": "Släck Lampor Toalett",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.all_toilet"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "e70d386a804b3186",
    "type": "api-call-service",
    "z": "8cf7f0d9a08b3655",
    "g": "016692fb15240c40",
    "name": "Tänd Lampor Toalett",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.all_toilet"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "2fe0ef961a349355",
    "type": "server-state-changed",
    "z": "8cf7f0d9a08b3655",
    "g": "a2c59dab1c39eb27",
    "name": "Rörelse Badrum",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "15",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 260,
    "wires": [
      [
        "a13be603a67e703a"
      ],
      []
    ]
  },
  {
    "id": "a13be603a67e703a",
    "type": "api-call-service",
    "z": "8cf7f0d9a08b3655",
    "g": "a2c59dab1c39eb27",
    "name": "Släck Lampor Badrum",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.all_bathroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "89e55bc55da527d0",
    "type": "api-call-service",
    "z": "8cf7f0d9a08b3655",
    "g": "15764dd4cae9897a",
    "name": "Släck Lampa Garderob",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.wardrobe_lamp_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 410,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "b9e07ea95cb6d8e1",
    "type": "server-state-changed",
    "z": "8cf7f0d9a08b3655",
    "g": "15764dd4cae9897a",
    "name": "Rörelse Garderob",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_sensor_wardrobe",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "1",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 360,
    "wires": [
      [
        "89e55bc55da527d0"
      ],
      []
    ]
  }
]