node-red/flows/Nightlamp.json
[
  {
    "id": "1f26ba8a27c1477d",
    "type": "tab",
    "label": "Nightlamp",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8f2e68f12915ae99",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Turn off nightlamp",
    "style": {
      "label": true
    },
    "nodes": [
      "01eff572884c1d07",
      "608cb52462ac0c81",
      "7e6877fe8a6653d6"
    ],
    "x": 34,
    "y": 39
  },
  {
    "id": "832ac7f7a2975116",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Turn on nightlamp",
    "style": {
      "label": true
    },
    "nodes": [
      "307eed8904a91f77",
      "245925ea62837296"
    ],
    "x": 34,
    "y": 139
  },
  {
    "id": "0bb729de77f60250",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Change color",
    "style": {
      "label": true
    },
    "nodes": [
      "97423d588ca97b7e",
      "0446ec6e9dda92d9"
    ],
    "x": 514,
    "y": 199
  },
  {
    "id": "83c104c1e200db9f",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Time interval",
    "style": {
      "label": true
    },
    "nodes": [
      "b8fe64363b5fef34",
      "189bf1e4b8b66cb4",
      "7a77cd45f5393478",
      "f011b702bd2a1309"
    ],
    "x": 34,
    "y": 239
  },
  {
    "id": "b9ecb733de105962",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Wallswitch off",
    "style": {
      "label": true
    },
    "nodes": [
      "3f9efcc8834f655a",
      "3394244f52a3651b",
      "192698308fb2d748",
      "30f1bd684c99b7de"
    ],
    "x": 34,
    "y": 399
  },
  {
    "id": "178bf0b9061d0b5b",
    "type": "group",
    "z": "1f26ba8a27c1477d",
    "name": "Wallswitch on",
    "style": {
      "label": true
    },
    "nodes": [
      "12279ce84a315168",
      "5fef2779e12e1af1",
      "8ef1e9e82c34c8b0",
      "e8f575e5dd5428a1"
    ],
    "x": 34,
    "y": 559
  },
  {
    "id": "01eff572884c1d07",
    "type": "time-switch",
    "z": "1f26ba8a27c1477d",
    "g": "8f2e68f12915ae99",
    "name": "22:00 - 07:00",
    "lat": "55.645870",
    "lon": "13.200610",
    "startTime": "22:00",
    "endTime": "07:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 310,
    "y": 80,
    "wires": [
      [
        "7e6877fe8a6653d6"
      ],
      []
    ]
  },
  {
    "id": "307eed8904a91f77",
    "type": "time-switch",
    "z": "1f26ba8a27c1477d",
    "g": "832ac7f7a2975116",
    "name": "22:00 - 07:00",
    "lat": "55.645870",
    "lon": "13.200610",
    "startTime": "22:00",
    "endTime": "07:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 310,
    "y": 180,
    "wires": [
      [
        "97423d588ca97b7e"
      ],
      []
    ]
  },
  {
    "id": "192698308fb2d748",
    "type": "time-switch",
    "z": "1f26ba8a27c1477d",
    "g": "b9ecb733de105962",
    "name": "22:00 - 07:00",
    "lat": "55.645870",
    "lon": "13.200610",
    "startTime": "22:00",
    "endTime": "07:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 330,
    "y": 480,
    "wires": [
      [
        "30f1bd684c99b7de"
      ],
      [
        "3394244f52a3651b"
      ]
    ]
  },
  {
    "id": "12279ce84a315168",
    "type": "time-switch",
    "z": "1f26ba8a27c1477d",
    "g": "178bf0b9061d0b5b",
    "name": "22:00 - 07:00",
    "lat": "55.645870",
    "lon": "13.200610",
    "startTime": "22:00",
    "endTime": "07:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 330,
    "y": 600,
    "wires": [
      [
        "e8f575e5dd5428a1"
      ],
      []
    ]
  },
  {
    "id": "7e6877fe8a6653d6",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "8f2e68f12915ae99",
    "name": "turn off ceiling lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_kids_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "608cb52462ac0c81",
    "type": "server-state-changed",
    "z": "1f26ba8a27c1477d",
    "g": "8f2e68f12915ae99",
    "name": "nightlamp off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_light_kids_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "false",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 130,
    "y": 80,
    "wires": [
      [
        "01eff572884c1d07"
      ],
      []
    ]
  },
  {
    "id": "245925ea62837296",
    "type": "server-state-changed",
    "z": "1f26ba8a27c1477d",
    "g": "832ac7f7a2975116",
    "name": "nightlamp on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_light_kids_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 130,
    "y": 180,
    "wires": [
      [
        "307eed8904a91f77"
      ],
      []
    ]
  },
  {
    "id": "30f1bd684c99b7de",
    "type": "api-current-state",
    "z": "1f26ba8a27c1477d",
    "g": "b9ecb733de105962",
    "name": "nightlamp on?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.night_light_kids_bedroom",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 520,
    "y": 440,
    "wires": [
      [
        "97423d588ca97b7e"
      ],
      [
        "3394244f52a3651b"
      ]
    ]
  },
  {
    "id": "0446ec6e9dda92d9",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "0bb729de77f60250",
    "name": "set green",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_kids_bedroom"
    ],
    "data": "{\t    \"brightness_pct\": 1,\t    \"rgb_color\": [\t        0,\t        255,\t        0\t    ]\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "97423d588ca97b7e",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "0bb729de77f60250",
    "name": "set red",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_kids_bedroom"
    ],
    "data": "{\t    \"brightness_pct\": 1,\t    \"rgb_color\": [\t        255,\t        0,\t        0\t    ]\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 590,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "e8f575e5dd5428a1",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "178bf0b9061d0b5b",
    "name": "turn off nightlamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.night_light_kids_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 530,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "3394244f52a3651b",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "b9ecb733de105962",
    "name": "turn off ceiling lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_kids_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 740,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "8ef1e9e82c34c8b0",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "g": "178bf0b9061d0b5b",
    "name": "turn on ceiling lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_kids_bedroom"
    ],
    "data": "{\t    \"brightness_pct\": 100,\t    \"rgb_color\": [255,184,124]\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "3f9efcc8834f655a",
    "type": "server-state-changed",
    "z": "1f26ba8a27c1477d",
    "g": "b9ecb733de105962",
    "name": "wallswitch off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_kids_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "false",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 130,
    "y": 480,
    "wires": [
      [
        "192698308fb2d748"
      ],
      []
    ]
  },
  {
    "id": "5fef2779e12e1af1",
    "type": "server-state-changed",
    "z": "1f26ba8a27c1477d",
    "g": "178bf0b9061d0b5b",
    "name": "wallswitch on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_kids_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 130,
    "y": 600,
    "wires": [
      [
        "12279ce84a315168",
        "8ef1e9e82c34c8b0"
      ],
      []
    ]
  },
  {
    "id": "f011b702bd2a1309",
    "type": "api-current-state",
    "z": "1f26ba8a27c1477d",
    "g": "83c104c1e200db9f",
    "name": "nightlamp on?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.night_light_kids_bedroom",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 300,
    "y": 280,
    "wires": [
      [
        "0446ec6e9dda92d9"
      ],
      []
    ]
  },
  {
    "id": "7a77cd45f5393478",
    "type": "api-current-state",
    "z": "1f26ba8a27c1477d",
    "g": "83c104c1e200db9f",
    "name": "nightlamp on?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.night_light_kids_bedroom",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 300,
    "y": 340,
    "wires": [
      [
        "97423d588ca97b7e"
      ],
      []
    ]
  },
  {
    "id": "189bf1e4b8b66cb4",
    "type": "inject",
    "z": "1f26ba8a27c1477d",
    "g": "83c104c1e200db9f",
    "name": "07:00",
    "props": [],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 280,
    "wires": [
      [
        "f011b702bd2a1309"
      ]
    ]
  },
  {
    "id": "b8fe64363b5fef34",
    "type": "inject",
    "z": "1f26ba8a27c1477d",
    "g": "83c104c1e200db9f",
    "name": "22:00",
    "props": [],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 340,
    "wires": [
      [
        "7a77cd45f5393478"
      ]
    ]
  },
  {
    "id": "a7e8eebd90a38474",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "name": "wallswitch on",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_kids_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "905b14865fdbd2b9",
    "type": "api-call-service",
    "z": "1f26ba8a27c1477d",
    "name": "wallswitch off",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_kids_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "4bb60aca5aedf2b7",
    "type": "trigger-state",
    "z": "1f26ba8a27c1477d",
    "name": "lamp on, wallswitch and nightmode active off",
    "server": "e9739673.bbfed8",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "light.ceiling_lamp_kids_bedroom",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "switch.relay_kids_bedroom",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.night_light_kids_bedroom_active",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 760,
    "wires": [
      [
        "a7e8eebd90a38474"
      ],
      []
    ]
  },
  {
    "id": "5a0a9b7ffcc43b59",
    "type": "trigger-state",
    "z": "1f26ba8a27c1477d",
    "name": "lamp off, wallswitch on, nightmode active off",
    "server": "e9739673.bbfed8",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "light.ceiling_lamp_kids_bedroom",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "switch.relay_kids_bedroom",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.night_light_kids_bedroom_active",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 820,
    "wires": [
      [
        "905b14865fdbd2b9"
      ],
      []
    ]
  }
]