node-red/flows/NS Panels.json
[
  {
    "id": "b5497d99883a62af",
    "type": "tab",
    "label": "NS Panels",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3fb44a804fffa93d",
    "type": "group",
    "z": "b5497d99883a62af",
    "name": "Fix stuck in loading when HA has rebooted",
    "style": {
      "label": true
    },
    "nodes": [
      "cc2d4a03d58e988a",
      "c5e75b5d8a450abc"
    ],
    "x": 34,
    "y": 359
  },
  {
    "id": "6bee852ec14b7ebe",
    "type": "group",
    "z": "b5497d99883a62af",
    "name": "Turn off panels when not needed to be on",
    "style": {
      "label": true
    },
    "nodes": [
      "121eec31d66d97f5",
      "d2f37cad72bfc84b",
      "d9e6d54b93a455d2",
      "3927aab9012fbce7",
      "ed7c020f60c6dda2",
      "d76e917baa3dd0f3",
      "9302b62fa6c6f66d"
    ],
    "x": 34,
    "y": 39
  },
  {
    "id": "c5e75b5d8a450abc",
    "type": "subflow:5da5355c5d6e8223",
    "z": "b5497d99883a62af",
    "g": "3fb44a804fffa93d",
    "name": "",
    "x": 120,
    "y": 400,
    "wires": [
      [
        "cc2d4a03d58e988a"
      ]
    ]
  },
  {
    "id": "cc2d4a03d58e988a",
    "type": "api-call-service",
    "z": "b5497d99883a62af",
    "g": "3fb44a804fffa93d",
    "name": "reboot panels",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "button",
    "service": "press",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "button.ns_panel_hallway_restart",
      "button.ns_panel_living_room_restart"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "d76e917baa3dd0f3",
    "type": "api-call-service",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "turn off sleep modus",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.ns_panel_hallway_sleep_modus",
      "switch.ns_panel_living_room_sleep_modus"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 440,
    "y": 240,
    "wires": [
      [
        "9302b62fa6c6f66d"
      ]
    ]
  },
  {
    "id": "ed7c020f60c6dda2",
    "type": "api-call-service",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "turn on sleep modus",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.ns_panel_hallway_sleep_modus",
      "switch.ns_panel_living_room_sleep_modus"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 440,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "3927aab9012fbce7",
    "type": "server-state-changed",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "nightmode off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "false",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 210,
    "y": 280,
    "wires": [
      [
        "d76e917baa3dd0f3"
      ],
      []
    ]
  },
  {
    "id": "d9e6d54b93a455d2",
    "type": "server-state-changed",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "nightmode on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.night_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 210,
    "y": 120,
    "wires": [
      [
        "ed7c020f60c6dda2"
      ],
      []
    ]
  },
  {
    "id": "d2f37cad72bfc84b",
    "type": "subflow:5c7f108f494183f7",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "",
    "x": 170,
    "y": 240,
    "wires": [
      [
        "d76e917baa3dd0f3"
      ],
      [
        "d76e917baa3dd0f3"
      ]
    ]
  },
  {
    "id": "121eec31d66d97f5",
    "type": "subflow:10bf6a612840df6b",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "ed7c020f60c6dda2"
      ],
      [
        "ed7c020f60c6dda2"
      ]
    ]
  },
  {
    "id": "9302b62fa6c6f66d",
    "type": "api-call-service",
    "z": "b5497d99883a62af",
    "g": "6bee852ec14b7ebe",
    "name": "reboot",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "button",
    "service": "press",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "button.ns_panel_hallway_restart",
      "button.ns_panel_living_room_restart"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 630,
    "y": 240,
    "wires": [
      []
    ]
  }
]