node-red/flows/Security.json
[
  {
    "id": "4d6be6c3ccea77db",
    "type": "tab",
    "label": "Security",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e9fe931f18531d4f",
    "type": "server-state-changed",
    "z": "4d6be6c3ccea77db",
    "name": "person in garden",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.camera_garden_person_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 120,
    "y": 60,
    "wires": [
      [
        "6f84e9627e0e8e08"
      ],
      []
    ]
  },
  {
    "id": "6f84e9627e0e8e08",
    "type": "subflow:b66917bea70387d7",
    "z": "4d6be6c3ccea77db",
    "name": "",
    "env": [
      {
        "name": "num_persons",
        "value": "1",
        "type": "num"
      }
    ],
    "x": 330,
    "y": 60,
    "wires": [
      [
        "250a39d55d8fefc1"
      ],
      []
    ]
  },
  {
    "id": "250a39d55d8fefc1",
    "type": "subflow:0543352e157255d4",
    "z": "4d6be6c3ccea77db",
    "name": "",
    "env": [
      {
        "name": "notify_data",
        "value": "{\"title\":\"Person i trädgård!\",\"message\":\"Det verkar som det är någon i trädgården\",\"data\":{\"entity_id\":\"camera.garden_stream\",\"tag\":\"person_garden\"}}",
        "type": "json"
      }
    ],
    "x": 590,
    "y": 60,
    "wires": [
      []
    ]
  }
]