node-red/flows/Simple TTS.json
[
  {
    "id": "7f81ec7457fe49ea",
    "type": "tab",
    "label": "Simple TTS",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9acaa0666b5b68d6",
    "type": "group",
    "z": "7f81ec7457fe49ea",
    "name": "AirFryer done",
    "style": {
      "label": true
    },
    "nodes": [
      "09eb4ce045377709",
      "e7cf591bc8ae49b7"
    ],
    "x": 54,
    "y": 299
  },
  {
    "id": "997af72d18e55a49",
    "type": "group",
    "z": "7f81ec7457fe49ea",
    "name": " Front door open for 5 min",
    "style": {
      "label": true
    },
    "nodes": [
      "c54677c2173b9501",
      "ac1fd26cc03af2dc"
    ],
    "x": 54,
    "y": 399
  },
  {
    "id": "bef63f036ef05e26",
    "type": "group",
    "z": "7f81ec7457fe49ea",
    "name": "Dishwasher done",
    "style": {
      "label": true
    },
    "nodes": [
      "9a4d8e04d32ec0e5",
      "a9d8c044c5a33e66"
    ],
    "x": 54,
    "y": 199
  },
  {
    "id": "7f13b2d75f7cc15f",
    "type": "group",
    "z": "7f81ec7457fe49ea",
    "name": "Disable TTS within a certain time span",
    "style": {
      "label": true
    },
    "nodes": [
      "7c4a2c32df048562",
      "75421ea3e1257808",
      "013f788a0fdefbef",
      "382b9c2d249ca286"
    ],
    "x": 54,
    "y": 39
  },
  {
    "id": "e7cf591bc8ae49b7",
    "type": "subflow:ad0b3a8015e7f49b",
    "z": "7f81ec7457fe49ea",
    "g": "9acaa0666b5b68d6",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "media_content_id",
        "value": "media-source://media_source/local/air_fryer_done.mp3",
        "type": "str"
      }
    ],
    "x": 350,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "09eb4ce045377709",
    "type": "server-state-changed",
    "z": "7f81ec7457fe49ea",
    "g": "9acaa0666b5b68d6",
    "name": "AirFryer done",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.airfryer_active",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 150,
    "y": 340,
    "wires": [
      [
        "e7cf591bc8ae49b7"
      ],
      []
    ]
  },
  {
    "id": "a9d8c044c5a33e66",
    "type": "subflow:ad0b3a8015e7f49b",
    "z": "7f81ec7457fe49ea",
    "g": "bef63f036ef05e26",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "media_content_id",
        "value": "media-source://media_source/local/washer_done.mp3",
        "type": "str"
      }
    ],
    "x": 350,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "ac1fd26cc03af2dc",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "7f81ec7457fe49ea",
    "g": "997af72d18e55a49",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "message",
        "value": "Ytterdörr har varit öppen i 5 minuter. Den borde kanske stängas?",
        "type": "str"
      }
    ],
    "x": 400,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "c54677c2173b9501",
    "type": "server-state-changed",
    "z": "7f81ec7457fe49ea",
    "g": "997af72d18e55a49",
    "name": " front door open for 5 min",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.door_main_hallway",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "5",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 190,
    "y": 440,
    "wires": [
      [
        "ac1fd26cc03af2dc"
      ],
      []
    ]
  },
  {
    "id": "9a4d8e04d32ec0e5",
    "type": "server-state-changed",
    "z": "7f81ec7457fe49ea",
    "g": "bef63f036ef05e26",
    "name": "dishwasher done",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.washing_machine",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 160,
    "y": 240,
    "wires": [
      [
        "a9d8c044c5a33e66"
      ],
      []
    ]
  },
  {
    "id": "382b9c2d249ca286",
    "type": "api-call-service",
    "z": "7f81ec7457fe49ea",
    "g": "7f13b2d75f7cc15f",
    "name": "TTS unmute",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.tts_mute"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 310,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "013f788a0fdefbef",
    "type": "api-call-service",
    "z": "7f81ec7457fe49ea",
    "g": "7f13b2d75f7cc15f",
    "name": "TTS mute",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.tts_mute"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "75421ea3e1257808",
    "type": "inject",
    "z": "7f81ec7457fe49ea",
    "g": "7f13b2d75f7cc15f",
    "name": "07.00",
    "props": [],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "382b9c2d249ca286"
      ]
    ]
  },
  {
    "id": "7c4a2c32df048562",
    "type": "inject",
    "z": "7f81ec7457fe49ea",
    "g": "7f13b2d75f7cc15f",
    "name": "22.00",
    "props": [],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "013f788a0fdefbef"
      ]
    ]
  },
  {
    "id": "bc88b940133a5f0a",
    "type": "comment",
    "z": "7f81ec7457fe49ea",
    "name": "Make these not run when templates are reloaded",
    "info": "",
    "x": 680,
    "y": 380,
    "wires": []
  }
]