node-red/flows/TV.json
[
  {
    "id": "59b6382f2b4b4619",
    "type": "tab",
    "label": "TV",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ca425b51ea70d657",
    "type": "group",
    "z": "59b6382f2b4b4619",
    "name": "Vardagsrum",
    "style": {
      "label": true
    },
    "nodes": [
      "e0ef91ffabc79baa",
      "733c04aaaa75aef8",
      "dd89f3d78cc0ddc4"
    ],
    "x": 34,
    "y": 39,
    "w": 732,
    "h": 82
  },
  {
    "id": "8d64418785067593",
    "type": "group",
    "z": "59b6382f2b4b4619",
    "name": "Sovrum",
    "style": {
      "label": true
    },
    "nodes": [
      "108711782342764d",
      "6a811b5ff4e50888",
      "145e4d491c2bf0e8",
      "881e055aefec352a",
      "5a752c4a7ee2bb9a",
      "6bfc01e7166f0255",
      "1c6e050d5d9776e4"
    ],
    "x": 34,
    "y": 159,
    "w": 712,
    "h": 222
  },
  {
    "id": "e0ef91ffabc79baa",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "ca425b51ea70d657",
    "name": "Samsung TV Vardagsrum på",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.samsung_tv_vardagsrum",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 80,
    "wires": [
      [
        "733c04aaaa75aef8"
      ],
      []
    ]
  },
  {
    "id": "733c04aaaa75aef8",
    "type": "api-current-state",
    "z": "59b6382f2b4b4619",
    "g": "ca425b51ea70d657",
    "name": "TV Vardagsrum av?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv_living_room_on",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 430,
    "y": 80,
    "wires": [
      [
        "dd89f3d78cc0ddc4"
      ],
      []
    ]
  },
  {
    "id": "dd89f3d78cc0ddc4",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "ca425b51ea70d657",
    "name": "TV Vardagsrum på",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.tv_living_room_on"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 650,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "108711782342764d",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "ChromeCast av",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.chromecast_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 260,
    "wires": [
      [
        "5a752c4a7ee2bb9a"
      ],
      []
    ]
  },
  {
    "id": "6a811b5ff4e50888",
    "type": "switch",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Var avstängd?",
    "property": "data.old_state.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 340,
    "wires": [
      [
        "881e055aefec352a"
      ]
    ]
  },
  {
    "id": "145e4d491c2bf0e8",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "ChromeCast overksam",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.chromecast_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "idle",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 160,
    "y": 340,
    "wires": [
      [
        "6a811b5ff4e50888"
      ],
      []
    ]
  },
  {
    "id": "881e055aefec352a",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Sätt på Plug Tv Socrum",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_tv_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 610,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "5a752c4a7ee2bb9a",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Stäng av Plug Tv Socrum",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_tv_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 370,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "6bfc01e7166f0255",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Pausa ChromeCast",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.chromecast_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 330,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "1c6e050d5d9776e4",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "TV Sovrum av",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.tv_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 200,
    "wires": [
      [
        "6bfc01e7166f0255"
      ],
      []
    ]
  }
]