node-red/flows/TV.json
[
  {
    "id": "59b6382f2b4b4619",
    "type": "tab",
    "label": "TV",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ca425b51ea70d657",
    "type": "group",
    "z": "59b6382f2b4b4619",
    "name": "Living room",
    "style": {
      "label": true
    },
    "nodes": [
      "dd89f3d78cc0ddc4",
      "f6f12d54667290c7"
    ],
    "x": 34,
    "y": 39,
    "w": 552,
    "h": 82
  },
  {
    "id": "8d64418785067593",
    "type": "group",
    "z": "59b6382f2b4b4619",
    "name": "Bedroom",
    "style": {
      "label": true
    },
    "nodes": [
      "108711782342764d",
      "881e055aefec352a",
      "5a752c4a7ee2bb9a",
      "6bfc01e7166f0255",
      "1c6e050d5d9776e4",
      "78dad3d01b30c42e"
    ],
    "x": 34,
    "y": 159,
    "w": 472,
    "h": 202
  },
  {
    "id": "dd89f3d78cc0ddc4",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "ca425b51ea70d657",
    "name": "Turn on TV Living room",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.tv_living_room_on"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 450,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "108711782342764d",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Chromecast off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.chromecast_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 260,
    "wires": [
      [
        "5a752c4a7ee2bb9a"
      ],
      []
    ]
  },
  {
    "id": "881e055aefec352a",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Turn on TV Bedroom Plug",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_tv_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 370,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "5a752c4a7ee2bb9a",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Turn of TV Bedroom Plug",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_tv_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 370,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "6bfc01e7166f0255",
    "type": "api-call-service",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Pause Chromecast",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.chromecast_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "1c6e050d5d9776e4",
    "type": "server-state-changed",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "TV Bedroom off",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.tv_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 200,
    "wires": [
      [
        "6bfc01e7166f0255"
      ],
      []
    ]
  },
  {
    "id": "f6f12d54667290c7",
    "type": "trigger-state",
    "z": "59b6382f2b4b4619",
    "g": "ca425b51ea70d657",
    "name": "Samsung TV Living room on",
    "server": "e9739673.bbfed8",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "media_player.samsung_tv_vardagsrum",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.tv_living_room_on",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 180,
    "y": 80,
    "wires": [
      [
        "dd89f3d78cc0ddc4"
      ],
      []
    ]
  },
  {
    "id": "78dad3d01b30c42e",
    "type": "trigger-state",
    "z": "59b6382f2b4b4619",
    "g": "8d64418785067593",
    "name": "Chromecast on",
    "server": "e9739673.bbfed8",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "media_player.chromecast_bedroom",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "switch.plug_tv_bedroom",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 140,
    "y": 320,
    "wires": [
      [
        "881e055aefec352a"
      ],
      []
    ]
  }
]