node-red/flows/Unnecessary.json
[
  {
    "id": "cd9a5746e1f519c9",
    "type": "tab",
    "label": "Unnecessary",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "87f9c3202c8c5ccc",
    "type": "group",
    "z": "cd9a5746e1f519c9",
    "name": "Notis till albin när matilda lämnar jobb",
    "style": {
      "label": true
    },
    "nodes": [
      "8dd22f7676bd5610",
      "ccfee6fd12b97e52",
      "4dbb2d100e9c7495"
    ],
    "x": 34,
    "y": 39,
    "w": 672,
    "h": 82
  },
  {
    "id": "50b6ce68ea1dbe94",
    "type": "group",
    "z": "cd9a5746e1f519c9",
    "name": "Välkomna personen som kommer hem",
    "style": {
      "label": true
    },
    "nodes": [
      "80edc5eabfbb154b",
      "e5154d67fa33cfb1",
      "28480c50575baa3f",
      "15964651208c3bfe",
      "dbb164dc10673f73",
      "d5236c0e8b8eb513",
      "9e24eaa95fb2667a"
    ],
    "x": 34,
    "y": 139,
    "w": 352,
    "h": 442
  },
  {
    "id": "8dd22f7676bd5610",
    "type": "ha-zone",
    "z": "cd9a5746e1f519c9",
    "g": "87f9c3202c8c5ccc",
    "name": "Matilda lämnar jobb",
    "server": "e9739673.bbfed8",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entities": [
      "person.matilda"
    ],
    "event": "leave",
    "zones": [
      "zone.matilda_work"
    ],
    "x": 150,
    "y": 80,
    "wires": [
      [
        "ccfee6fd12b97e52"
      ]
    ]
  },
  {
    "id": "ccfee6fd12b97e52",
    "type": "api-current-state",
    "z": "cd9a5746e1f519c9",
    "g": "87f9c3202c8c5ccc",
    "name": "Albin är hemma",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "person.albin",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 360,
    "y": 80,
    "wires": [
      [
        "4dbb2d100e9c7495"
      ],
      []
    ],
    "outputLabels": [
      "home",
      "not home"
    ]
  },
  {
    "id": "4dbb2d100e9c7495",
    "type": "api-call-service",
    "z": "cd9a5746e1f519c9",
    "g": "87f9c3202c8c5ccc",
    "name": "Skicka notis till Albin",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_albin_iphone",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Matilda har lämnat salongen\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 580,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "80edc5eabfbb154b",
    "type": "ha-wait-until",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Vänta tills dörren öppnas",
    "server": "e9739673.bbfed8",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_main_hallway",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "5",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "entityLocation": "data",
    "entityLocationType": "none",
    "x": 170,
    "y": 240,
    "wires": [
      [
        "e5154d67fa33cfb1"
      ],
      []
    ]
  },
  {
    "id": "e5154d67fa33cfb1",
    "type": "function",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Beräkna intervall (-3 min)",
    "func": "const person_home_time = new Date(msg.data.new_state.last_changed);\n\nconst history_start = new Date(person_home_time.getTime() - 1000 * 60 * 3);\n\nreturn {\n    ...msg,\n    history_start: history_start.toISOString()\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 170,
    "y": 300,
    "wires": [
      [
        "28480c50575baa3f"
      ]
    ]
  },
  {
    "id": "28480c50575baa3f",
    "type": "ha-get-entities",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Vem har kommit hem inom intervallet",
    "server": "e9739673.bbfed8",
    "version": 0,
    "rules": [
      {
        "property": "last_changed",
        "logic": "gte",
        "value": "msg.history_start",
        "valueType": "jsonata"
      },
      {
        "property": "entity_id",
        "logic": "is",
        "value": "person\\.",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "home",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 210,
    "y": 360,
    "wires": [
      [
        "15964651208c3bfe"
      ]
    ]
  },
  {
    "id": "15964651208c3bfe",
    "type": "function",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Skapa meddelande",
    "func": "const persons = msg.payload.map((person) => person.entity_id.split('.')[1]);\n\nconst getPersonText = (persons) => {\n    // Get the last person\n    const last_person = persons.pop();\n\n    // If there is any more persons\n    if(persons.length > 0){\n        return `${persons.join(', ')} och ${last_person}`;\n    }\n    return last_person;\n}\n\nreturn {\n    ...msg,\n    message: `Välkomm${persons.length > 1 ? 'na' : 'en'} hem ${getPersonText(persons)}`\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 150,
    "y": 420,
    "wires": [
      [
        "9e24eaa95fb2667a"
      ]
    ]
  },
  {
    "id": "dbb164dc10673f73",
    "type": "subflow:17f3c422bcd5a1fb",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "",
    "env": [
      {
        "name": "media_player",
        "value": "media_player.sonos_lamp_living_room",
        "type": "str"
      },
      {
        "name": "message",
        "value": "{{ message }}",
        "type": "str"
      }
    ],
    "x": 130,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "d5236c0e8b8eb513",
    "type": "server-state-changed",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Någon kommer hem",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "person\\.",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "person",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "80edc5eabfbb154b"
      ],
      []
    ]
  },
  {
    "id": "9e24eaa95fb2667a",
    "type": "delay",
    "z": "cd9a5746e1f519c9",
    "g": "50b6ce68ea1dbe94",
    "name": "Vänta 10s",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 120,
    "y": 480,
    "wires": [
      [
        "dbb164dc10673f73"
      ]
    ]
  }
]