node-red/flows/Vacation.json
[
  {
    "id": "3b4f176249db8ba0",
    "type": "tab",
    "label": "Vacation",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "292cd2936dc4770f",
    "type": "group",
    "z": "3b4f176249db8ba0",
    "name": "Vacation Lights",
    "style": {
      "label": true
    },
    "nodes": [
      "aa02fa4a.a35548",
      "cfa1b8e4.8d4a08",
      "a41f4d83.d45c4",
      "c7efc558.da1bc8",
      "f3897d20.fffee",
      "20fce293.98ce8e",
      "3d851328.fb1b8c",
      "7e966ac8.609524"
    ],
    "x": 34,
    "y": 499,
    "w": 372,
    "h": 502
  },
  {
    "id": "0ebf95f5d2357afa",
    "type": "group",
    "z": "3b4f176249db8ba0",
    "name": "Notification to parents when vacation mode changes",
    "style": {
      "label": true
    },
    "nodes": [
      "245075c23d375bea",
      "bcd478d29ab1897b",
      "6ee233be99add996"
    ],
    "x": 34,
    "y": 319,
    "w": 452,
    "h": 162
  },
  {
    "id": "a95f98beadb5e910",
    "type": "group",
    "z": "3b4f176249db8ba0",
    "name": "Notification action to turn on vacation mode",
    "style": {
      "label": true
    },
    "nodes": [
      "0864c17ebab8ebb0",
      "709332c70f5dd860",
      "4742e750c7baf611"
    ],
    "x": 34,
    "y": 219,
    "w": 692,
    "h": 82
  },
  {
    "id": "87ddd9c72abf2ec5",
    "type": "group",
    "z": "3b4f176249db8ba0",
    "name": "Send actionable notification when away for 24h",
    "style": {
      "label": true
    },
    "nodes": [
      "c81cbf7d.abe22",
      "7d414deb.904f64",
      "f41610963dd07e91",
      "37e8432cc4931c97",
      "bf80cebf.58bcc",
      "6abf57c3ed97fdda"
    ],
    "x": 34,
    "y": 39,
    "w": 972,
    "h": 162
  },
  {
    "id": "7e966ac8.609524",
    "type": "api-current-state",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "vacation mode on?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.vacation_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 170,
    "y": 600,
    "wires": [
      [
        "cfa1b8e4.8d4a08"
      ],
      []
    ]
  },
  {
    "id": "3d851328.fb1b8c",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "turn off",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{payload.entity_id}}"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 140,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "20fce293.98ce8e",
    "type": "delay",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "5",
    "randomLast": "36",
    "randomUnits": "minutes",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 140,
    "y": 900,
    "wires": [
      [
        "3d851328.fb1b8c"
      ]
    ]
  },
  {
    "id": "f3897d20.fffee",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "turn on",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{payload.entity_id}}"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "output_location": "",
    "output_location_type": "none",
    "x": 140,
    "y": 840,
    "wires": [
      [
        "20fce293.98ce8e"
      ]
    ]
  },
  {
    "id": "c7efc558.da1bc8",
    "type": "function",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "25%",
    "func": "const random = Math.round(Math.random() * 100);\n\nif(random < 75) {\n    node.status({fill: \"red\", text: random});\n    return;\n}\n\nnode.status({fill: \"green\", text: random});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 130,
    "y": 720,
    "wires": [
      [
        "a41f4d83.d45c4"
      ]
    ]
  },
  {
    "id": "a41f4d83.d45c4",
    "type": "ha-get-entities",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "",
    "server": "e9739673.bbfed8",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "in_group",
        "value": "group.vacation_lights",
        "valueType": "str"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "random",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 150,
    "y": 780,
    "wires": [
      [
        "f3897d20.fffee"
      ]
    ]
  },
  {
    "id": "cfa1b8e4.8d4a08",
    "type": "time-range-switch",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "",
    "lat": "55.64578",
    "lon": "13.20075",
    "startTime": "sunset",
    "endTime": "23:59",
    "startOffset": 0,
    "endOffset": 0,
    "x": 160,
    "y": 660,
    "wires": [
      [
        "c7efc558.da1bc8"
      ],
      []
    ]
  },
  {
    "id": "aa02fa4a.a35548",
    "type": "inject",
    "z": "3b4f176249db8ba0",
    "g": "292cd2936dc4770f",
    "name": "every 6 min between 16.00 and 00.00",
    "props": [],
    "repeat": "",
    "crontab": "*/6 16-23 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 230,
    "y": 540,
    "wires": [
      [
        "7e966ac8.609524"
      ]
    ]
  },
  {
    "id": "6ee233be99add996",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "0ebf95f5d2357afa",
    "name": "send notificaiton",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t   \"title\": \"Semesterläge!\",\t   \"message\": \"Semesterläge har inaktiverats!\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 380,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "bcd478d29ab1897b",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "0ebf95f5d2357afa",
    "name": "send notificaiton",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "parents",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t   \"title\": \"Semesterläge!\",\t   \"message\": \"Semesterläge har aktiverats!\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 380,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "245075c23d375bea",
    "type": "server-state-changed",
    "z": "3b4f176249db8ba0",
    "g": "0ebf95f5d2357afa",
    "name": "vacation mode enabled",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.vacation_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 160,
    "y": 400,
    "wires": [
      [
        "bcd478d29ab1897b"
      ],
      [
        "6ee233be99add996"
      ]
    ]
  },
  {
    "id": "4742e750c7baf611",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "a95f98beadb5e910",
    "name": "turn on vacation mode",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.vacation_mode"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 600,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "709332c70f5dd860",
    "type": "switch",
    "z": "3b4f176249db8ba0",
    "g": "a95f98beadb5e910",
    "name": "is correct action?",
    "property": "action_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "VACATION_MODE_ON",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 260,
    "wires": [
      [
        "4742e750c7baf611"
      ]
    ]
  },
  {
    "id": "0864c17ebab8ebb0",
    "type": "server-events",
    "z": "3b4f176249db8ba0",
    "g": "a95f98beadb5e910",
    "name": "notification action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "action_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event.action",
        "valueType": "jsonata"
      }
    ],
    "x": 150,
    "y": 260,
    "wires": [
      [
        "709332c70f5dd860"
      ]
    ]
  },
  {
    "id": "6abf57c3ed97fdda",
    "type": "function",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "create notification",
    "func": "const notify_data = {\n    \"title\": \"Semesterläge\",\n    \"message\": \"Du har varit borta i 24 timmar. Vill du aktivera semesterläge?\",\n    \"data\": {\n        \"actions\": [\n            {\n                \"action\": \"VACATION_MODE_ON\",\n                \"title\": \"Aktivera semesterläge\",\n                \"icon\": \"sfsymbols:airplane\",\n                \"authenticationRequired\": true\n            }\n        ],\n        \"persistent\": true,\n        \"tag\": \"vaccation_mode_activate\"\n    }\n}\n\nreturn {\n    ...msg,\n    notify_data\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 80,
    "wires": [
      [
        "37e8432cc4931c97"
      ]
    ]
  },
  {
    "id": "37e8432cc4931c97",
    "type": "subflow:9577215509c764c6",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "",
    "env": [
      {
        "name": "person",
        "value": "{{person}}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{notify_data}}",
        "type": "str"
      }
    ],
    "x": 860,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "f41610963dd07e91",
    "type": "api-current-state",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "vacation mode on?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.vacation_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 390,
    "y": 160,
    "wires": [
      [
        "c81cbf7d.abe22"
      ],
      []
    ]
  },
  {
    "id": "7d414deb.904f64",
    "type": "api-current-state",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "vacation mode off?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.vacation_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 390,
    "y": 80,
    "wires": [
      [
        "6abf57c3ed97fdda"
      ],
      []
    ]
  },
  {
    "id": "c81cbf7d.abe22",
    "type": "api-call-service",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "turn off vacation mode",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.vacation_mode"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 620,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "bf80cebf.58bcc",
    "type": "server-state-changed",
    "z": "3b4f176249db8ba0",
    "g": "87ddd9c72abf2ec5",
    "name": "person away for 1 day",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "person\\.",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "1",
    "forType": "num",
    "forUnits": "days",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "person",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 160,
    "y": 120,
    "wires": [
      [
        "7d414deb.904f64"
      ],
      [
        "f41610963dd07e91"
      ]
    ]
  }
]