node-red/flows/Vacuum.json
[
  {
    "id": "f6c266122b405d78",
    "type": "tab",
    "label": "Vacuum",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "05d687da1ce7b06d",
    "type": "group",
    "z": "f6c266122b405d78",
    "name": "Disable motion sensors (arm home mode) when vacuuming starts",
    "style": {
      "label": true
    },
    "nodes": [
      "2d4f29ef982ab65e",
      "8d28e6dfa1bfb9b0",
      "6d1d2435763bad74"
    ],
    "x": 34,
    "y": 39,
    "w": 572,
    "h": 82
  },
  {
    "id": "c77bf66ac0de544c",
    "type": "group",
    "z": "f6c266122b405d78",
    "name": "Activate the alarm when vacuuming is complete if no one is home",
    "style": {
      "label": true
    },
    "nodes": [
      "0c709adc70a7b981",
      "43a51cdd1bafdc8f",
      "3f2ab8b96d1ab88c",
      "7421bc525afa4694"
    ],
    "x": 34,
    "y": 159,
    "w": 712,
    "h": 82
  },
  {
    "id": "2d4f29ef982ab65e",
    "type": "server-state-changed",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "05d687da1ce7b06d",
    "name": "Vacuum start",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "vacuum.cleanmate",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "cleaning",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 130,
    "y": 80,
    "wires": [
      [
        "8d28e6dfa1bfb9b0"
      ],
      []
    ]
  },
  {
    "id": "8d28e6dfa1bfb9b0",
    "type": "api-current-state",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "05d687da1ce7b06d",
    "name": "Armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 300,
    "y": 80,
    "wires": [
      [
        "6d1d2435763bad74"
      ],
      []
    ]
  },
  {
    "id": "0c709adc70a7b981",
    "type": "api-call-service",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "c77bf66ac0de544c",
    "name": "Arm",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_arm_away",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "6d1d2435763bad74",
    "type": "api-call-service",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "05d687da1ce7b06d",
    "name": "Arm home mode",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_arm_home",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 490,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "43a51cdd1bafdc8f",
    "type": "server-state-changed",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "c77bf66ac0de544c",
    "name": "Vacuum docked",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "vacuum.cleanmate",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "docked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 140,
    "y": 200,
    "wires": [
      [
        "3f2ab8b96d1ab88c"
      ],
      []
    ]
  },
  {
    "id": "3f2ab8b96d1ab88c",
    "type": "api-current-state",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "c77bf66ac0de544c",
    "name": "Nobody home",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "entity_id": "zone.home",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 340,
    "y": 200,
    "wires": [
      [
        "7421bc525afa4694"
      ],
      []
    ]
  },
  {
    "id": "7421bc525afa4694",
    "type": "api-current-state",
    "z": "f6c266122b405d78",
    "d": true,
    "g": "c77bf66ac0de544c",
    "name": "Armed?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.alarmo",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 520,
    "y": 200,
    "wires": [
      [],
      [
        "0c709adc70a7b981"
      ]
    ]
  }
]