node-red/flows/Wall switches.json
[
  {
    "id": "7c1b8ecc3bcbbebd",
    "type": "tab",
    "label": "Wall switches",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e08ca9117ba9237c",
    "type": "group",
    "z": "7c1b8ecc3bcbbebd",
    "name": "Hallway Entrance",
    "style": {
      "label": true
    },
    "nodes": [
      "2659e04f1506b9a4",
      "d0e4cb73260a397a",
      "b1372081cd149554",
      "80e2cae131458d2b",
      "1bf087c0a818fcbd",
      "dccec8a7a80e5d82"
    ],
    "x": 34,
    "y": 379
  },
  {
    "id": "657a994829f4573f",
    "type": "group",
    "z": "7c1b8ecc3bcbbebd",
    "name": "Hallway 3",
    "style": {
      "label": true
    },
    "nodes": [
      "8791af0aa2f6eb95",
      "4507b1e2cb8085fc",
      "987bf4720dead3df",
      "61e8d049b688a63e",
      "e42beba3e8afcc2d",
      "3835fda3ddccfb06"
    ],
    "x": 454,
    "y": 379
  },
  {
    "id": "906392ec964d3dab",
    "type": "group",
    "z": "7c1b8ecc3bcbbebd",
    "name": "Living room Sofa",
    "style": {
      "label": true
    },
    "nodes": [
      "09f11ee754c3da26",
      "9e1ab61fc84c0359",
      "0a17adc6d42b515d",
      "f084ec7f3de82348",
      "32130c10373961a5",
      "d5f851c978157a9f"
    ],
    "x": 34,
    "y": 39
  },
  {
    "id": "01342c3d53a6371c",
    "type": "group",
    "z": "7c1b8ecc3bcbbebd",
    "name": "Ceiling lamp Bedroom",
    "style": {
      "label": true
    },
    "nodes": [
      "3e917487f9509efc",
      "d333661181e8ccf5",
      "973f595125b71af7",
      "3b9d4fda06291e53",
      "83cd2c752c8e4186",
      "3191172f2275f0d6"
    ],
    "x": 454,
    "y": 39
  },
  {
    "id": "dccec8a7a80e5d82",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "turn off switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_hallway_1"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "1bf087c0a818fcbd",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "turn on switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_hallway_1"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "80e2cae131458d2b",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "lamp on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.lamp_entrance_hallway",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 120,
    "y": 600,
    "wires": [
      [
        "1bf087c0a818fcbd"
      ],
      [
        "dccec8a7a80e5d82"
      ]
    ]
  },
  {
    "id": "b1372081cd149554",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "turn off lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.lamp_entrance_hallway"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "d0e4cb73260a397a",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "turn on lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.lamp_entrance_hallway"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "2659e04f1506b9a4",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "e08ca9117ba9237c",
    "name": "switch on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_hallway_1",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 120,
    "y": 460,
    "wires": [
      [
        "d0e4cb73260a397a"
      ],
      [
        "b1372081cd149554"
      ]
    ]
  },
  {
    "id": "3835fda3ddccfb06",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "turn off switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_hallway_3"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "e42beba3e8afcc2d",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "turn on switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_hallway_3"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "61e8d049b688a63e",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "lamp on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.lamp_3_hallway",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 540,
    "y": 600,
    "wires": [
      [
        "e42beba3e8afcc2d"
      ],
      [
        "3835fda3ddccfb06"
      ]
    ]
  },
  {
    "id": "987bf4720dead3df",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "turn off lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.lamp_3_hallway"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "4507b1e2cb8085fc",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "turn on lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.lamp_3_hallway"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "8791af0aa2f6eb95",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "657a994829f4573f",
    "name": "switch on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_hallway_3",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 540,
    "y": 460,
    "wires": [
      [
        "4507b1e2cb8085fc"
      ],
      [
        "987bf4720dead3df"
      ]
    ]
  },
  {
    "id": "d5f851c978157a9f",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "turn off switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_living_room_sofa"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "32130c10373961a5",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "turn on switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_living_room_sofa"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 300,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "f084ec7f3de82348",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "lamp on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.ceiling_lamp_living_room",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 120,
    "y": 260,
    "wires": [
      [
        "32130c10373961a5"
      ],
      [
        "d5f851c978157a9f"
      ]
    ]
  },
  {
    "id": "0a17adc6d42b515d",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "turn off lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_living_room"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "9e1ab61fc84c0359",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "turn on lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_living_room"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 290,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "09f11ee754c3da26",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "906392ec964d3dab",
    "name": "switch on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_living_room_sofa",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 120,
    "y": 120,
    "wires": [
      [
        "9e1ab61fc84c0359"
      ],
      [
        "0a17adc6d42b515d"
      ]
    ]
  },
  {
    "id": "3191172f2275f0d6",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "turn off switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "83cd2c752c8e4186",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "turn on switch",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.relay_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "3b9d4fda06291e53",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "lamp on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.ceiling_lamp_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 540,
    "y": 260,
    "wires": [
      [
        "83cd2c752c8e4186"
      ],
      [
        "3191172f2275f0d6"
      ]
    ]
  },
  {
    "id": "973f595125b71af7",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "turn off lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "d333661181e8ccf5",
    "type": "api-call-service",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "turn on lamp",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.ceiling_lamp_bedroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "3e917487f9509efc",
    "type": "server-state-changed",
    "z": "7c1b8ecc3bcbbebd",
    "g": "01342c3d53a6371c",
    "name": "switch on",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.relay_bedroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [],
    "x": 540,
    "y": 120,
    "wires": [
      [
        "d333661181e8ccf5"
      ],
      [
        "973f595125b71af7"
      ]
    ]
  }
]