node-red/subflows/clear notification.json
[
  {
    "id": "f7d101589066e8d4",
    "type": "subflow",
    "name": "clear notification",
    "info": "Clear notification based on tag\n\n### Configuration\n\n#### `Persons required`\n\n- Type: `array`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nA list of persons that should have the notification cleared\n\n#### `Tag required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe tag of the notification that should be cleared\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "de10604762d3d230"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1040,
        "y": 60,
        "wires": [
          {
            "id": "2dce2ab58a466e26",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "persons",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "tag",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Tag"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1040,
      "y": 120,
      "wires": [
        {
          "id": "592ce3a165342668",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "de10604762d3d230",
    "type": "subflow:846b2a595d7e7acf",
    "z": "f7d101589066e8d4",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "clear_notification",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"persons\",\"tag\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "ef0f4c33b8cca9ad"
      ]
    ]
  },
  {
    "id": "2dce2ab58a466e26",
    "type": "subflow:667ec96ed52e720e",
    "z": "f7d101589066e8d4",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "clear_notification",
        "type": "str"
      }
    ],
    "x": 900,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "5a513d6cf8d0ceee",
    "type": "subflow:6be012d64f25f43f",
    "z": "f7d101589066e8d4",
    "name": "",
    "env": [
      {
        "name": "persons",
        "value": "{{clear_notification.persons}}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{notification_data}}",
        "type": "str"
      }
    ],
    "x": 660,
    "y": 60,
    "wires": [
      [
        "2dce2ab58a466e26",
        "592ce3a165342668"
      ]
    ]
  },
  {
    "id": "ef0f4c33b8cca9ad",
    "type": "function",
    "z": "f7d101589066e8d4",
    "name": "create notification",
    "func": "const notification_data = {\n    \"message\": \"clear_notification\",\n    \"data\": {\n        \"tag\": msg.clear_notification.tag\n    }\n}\nreturn {\n    ...msg,\n    notification_data\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 60,
    "wires": [
      [
        "5a513d6cf8d0ceee"
      ]
    ]
  },
  {
    "id": "592ce3a165342668",
    "type": "function",
    "z": "f7d101589066e8d4",
    "name": "create status",
    "func": "const text = `cleared ${msg.clear_notification.tag}`;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 120,
    "wires": [
      []
    ]
  }
]