node-red/subflows/first person comes home.json
[
  {
    "id": "5c7f108f494183f7",
    "type": "subflow",
    "name": "first person comes home",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 1230,
        "y": 60,
        "wires": [
          {
            "id": "177470d01ddaca6d",
            "port": 0
          }
        ]
      },
      {
        "x": 1230,
        "y": 240,
        "wires": [
          {
            "id": "622170d4e98f3b5e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_person",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "person",
      "guest"
    ],
    "status": {
      "x": 1200,
      "y": 140,
      "wires": [
        {
          "id": "bb71c5a1e7a3f063",
          "port": 0
        },
        {
          "id": "cd27a7e455b81369",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "622170d4e98f3b5e",
    "type": "junction",
    "z": "5c7f108f494183f7",
    "x": 920,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "03d0855aa7570e8d",
    "type": "server-state-changed",
    "z": "5c7f108f494183f7",
    "name": "someone is home",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "zone.home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 130,
    "y": 60,
    "wires": [
      [
        "5112c31c80fe721f"
      ],
      []
    ]
  },
  {
    "id": "cce4e66bf72f0f15",
    "type": "function",
    "z": "5c7f108f494183f7",
    "name": "get person that came home",
    "func": "const old_persons = msg.data.old_state.attributes.persons;\nconst new_persons = msg.data.new_state.attributes.persons;\n\nconst person = new_persons.filter(p => !old_persons.includes(p))[0];\n\nreturn {\n    person\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 60,
    "wires": [
      [
        "bb71c5a1e7a3f063",
        "177470d01ddaca6d"
      ]
    ]
  },
  {
    "id": "ebe77296e60e8877",
    "type": "switch",
    "z": "5c7f108f494183f7",
    "name": "last state was 0",
    "property": "data.old_state.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 60,
    "wires": [
      [
        "cce4e66bf72f0f15"
      ]
    ]
  },
  {
    "id": "bb71c5a1e7a3f063",
    "type": "function",
    "z": "5c7f108f494183f7",
    "name": "create status",
    "func": "const text = msg.person;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1050,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "3aa73519440a0b6d",
    "type": "server-state-changed",
    "z": "5c7f108f494183f7",
    "name": "guest mode active",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.guest_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 130,
    "y": 120,
    "wires": [
      [
        "e27f976ad2994d40"
      ],
      []
    ]
  },
  {
    "id": "e27f976ad2994d40",
    "type": "api-current-state",
    "z": "5c7f108f494183f7",
    "name": "someone home?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "zone.home",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 350,
    "y": 120,
    "wires": [
      [],
      [
        "622170d4e98f3b5e",
        "cd27a7e455b81369"
      ]
    ]
  },
  {
    "id": "cd27a7e455b81369",
    "type": "function",
    "z": "5c7f108f494183f7",
    "name": "create status",
    "func": "return {\n    payload: {\n        fill: \"green\",\n        text: \"Guest\"\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1050,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "5112c31c80fe721f",
    "type": "api-current-state",
    "z": "5c7f108f494183f7",
    "name": "guest mode active?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 350,
    "y": 60,
    "wires": [
      [],
      [
        "ebe77296e60e8877"
      ]
    ]
  },
  {
    "id": "177470d01ddaca6d",
    "type": "subflow:667ec96ed52e720e",
    "z": "5c7f108f494183f7",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "first_person_comes_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_person\":\"person\"}",
        "type": "json"
      },
      {
        "name": "has_setup",
        "value": "false",
        "type": "bool"
      }
    ],
    "x": 1050,
    "y": 60,
    "wires": [
      []
    ]
  }
]