node-red/subflows/get persons at home.json
[
  {
    "id": "92acfb4d26effac0",
    "type": "subflow",
    "name": "get persons at home",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "a21a97528c4ebd02"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1020,
        "y": 60,
        "wires": [
          {
            "id": "c44cea2745614401",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1020,
      "y": 140,
      "wires": [
        {
          "id": "6a9480372530925d",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "9bd3102eea3f4d99",
    "type": "ha-get-entities",
    "z": "92acfb4d26effac0",
    "name": "get persons at home",
    "server": "e9739673.bbfed8",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "person\\.",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "home",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "person_entities",
    "output_results_count": 1,
    "x": 420,
    "y": 60,
    "wires": [
      [
        "0df834b2ca539f6c"
      ]
    ]
  },
  {
    "id": "0df834b2ca539f6c",
    "type": "function",
    "z": "92acfb4d26effac0",
    "name": "pick out entity ids",
    "func": "const person_entity_ids = msg.person_entities.map((person) => person.entity_id);\n\nreturn {\n    ...msg,\n    persons: person_entity_ids\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 60,
    "wires": [
      [
        "6a9480372530925d",
        "c44cea2745614401"
      ]
    ]
  },
  {
    "id": "6a9480372530925d",
    "type": "function",
    "z": "92acfb4d26effac0",
    "name": "create status",
    "func": "const color = msg.persons.length > 0 ? \"green\": \"red\";\nconst text = msg.persons.join(', ')\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "a21a97528c4ebd02",
    "type": "subflow:846b2a595d7e7acf",
    "z": "92acfb4d26effac0",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_persons_home",
        "type": "str"
      },
      {
        "name": "flow_storage",
        "value": "flow_storage",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "9bd3102eea3f4d99"
      ]
    ]
  },
  {
    "id": "c44cea2745614401",
    "type": "subflow:667ec96ed52e720e",
    "z": "92acfb4d26effac0",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_persons_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 870,
    "y": 60,
    "wires": [
      []
    ]
  }
]