node-red/subflows/get all persons.json
[
  {
    "id": "bd6b3fc9fb3bede7",
    "type": "subflow",
    "name": "get all persons",
    "info": "Get all persons\n\n## Output\n\nValue types:\n- `Persons`: a list of all persons\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "e0cb3e741b0fc347"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 960,
        "y": 60,
        "wires": [
          {
            "id": "b384d842fc4e47ea",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 960,
      "y": 140,
      "wires": [
        {
          "id": "908e6d016f436680",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "ddea0968519555b8",
    "type": "ha-get-entities",
    "z": "bd6b3fc9fb3bede7",
    "name": "get all persons",
    "server": "e9739673.bbfed8",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "person\\.",
        "valueType": "re"
      }
    ],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "person_entities",
    "output_results_count": 1,
    "x": 400,
    "y": 60,
    "wires": [
      [
        "b7130217d923b22c"
      ]
    ]
  },
  {
    "id": "b7130217d923b22c",
    "type": "function",
    "z": "bd6b3fc9fb3bede7",
    "name": "pick out entity ids",
    "func": "const person_entity_ids = msg.person_entities.map((person) => person.entity_id);\n\nreturn {\n    ...msg,\n    persons: person_entity_ids\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 60,
    "wires": [
      [
        "908e6d016f436680",
        "b384d842fc4e47ea"
      ]
    ]
  },
  {
    "id": "908e6d016f436680",
    "type": "function",
    "z": "bd6b3fc9fb3bede7",
    "name": "create status",
    "func": "const color = msg.persons.length > 0 ? \"green\": \"red\";\nconst text = msg.persons.join(', ')\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "b384d842fc4e47ea",
    "type": "subflow:667ec96ed52e720e",
    "z": "bd6b3fc9fb3bede7",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_all_persons",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 820,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "e0cb3e741b0fc347",
    "type": "subflow:846b2a595d7e7acf",
    "z": "bd6b3fc9fb3bede7",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_all_persons",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "ddea0968519555b8"
      ]
    ]
  }
]