node-red/subflows/get persons not at home.json
[
  {
    "id": "29024697abc79029",
    "type": "subflow",
    "name": "get persons not at home",
    "info": "Get persons that are not home\n\n## Output\n\nValue types:\n\n- `Persons`: A list of persons that are not home\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "f0e4724b5b07967a"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1040,
        "y": 60,
        "wires": [
          {
            "id": "4bd6c1a494439506",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1040,
      "y": 140,
      "wires": [
        {
          "id": "781785e263a6d008",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "01e5dd44dbf610fc",
    "type": "ha-get-entities",
    "z": "29024697abc79029",
    "name": "get persons not at home",
    "server": "e9739673.bbfed8",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "person\\.",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is_not",
        "value": "home",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "person_entities",
    "output_results_count": 1,
    "x": 430,
    "y": 60,
    "wires": [
      [
        "df7bbd1b6e50d3e2"
      ]
    ]
  },
  {
    "id": "df7bbd1b6e50d3e2",
    "type": "function",
    "z": "29024697abc79029",
    "name": "pick out entity ids",
    "func": "const person_entity_ids = msg.person_entities.map((person) => person.entity_id);\n\nreturn {\n    ...msg,\n    persons: person_entity_ids\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 60,
    "wires": [
      [
        "781785e263a6d008",
        "4bd6c1a494439506"
      ]
    ]
  },
  {
    "id": "781785e263a6d008",
    "type": "function",
    "z": "29024697abc79029",
    "name": "create status",
    "func": "const color = msg.persons.length > 0 ? \"green\": \"red\";\nconst text = msg.persons.join(', ')\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "f0e4724b5b07967a",
    "type": "subflow:846b2a595d7e7acf",
    "z": "29024697abc79029",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_persons_not_home",
        "type": "str"
      },
      {
        "name": "flow_storage",
        "value": "flow_storage",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "01e5dd44dbf610fc"
      ]
    ]
  },
  {
    "id": "4bd6c1a494439506",
    "type": "subflow:667ec96ed52e720e",
    "z": "29024697abc79029",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "get_persons_not_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 890,
    "y": 60,
    "wires": [
      []
    ]
  }
]