node-red/subflows/HA start.json
[
  {
    "id": "5da5355c5d6e8223",
    "type": "subflow",
    "name": "HA start",
    "info": "Runs when Home Assistant has started\n",
    "category": "home_assistant",
    "in": [],
    "out": [
      {
        "x": 520,
        "y": 60,
        "wires": [
          {
            "id": "b46e7e0a.fef1f",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#41bdf5",
    "icon": "font-awesome/fa-home"
  },
  {
    "id": "b46e7e0a.fef1f",
    "type": "switch",
    "z": "5da5355c5d6e8223",
    "name": "is running",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "running",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "b66320a5.f8586",
    "type": "server-events",
    "z": "5da5355c5d6e8223",
    "name": "Home Assistant client event",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "home_assistant_client",
    "eventData": "",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 160,
    "y": 60,
    "wires": [
      [
        "b46e7e0a.fef1f"
      ]
    ]
  }
]