node-red/subflows/ios Action.json
[
  {
    "id": "e9ef583367ad9d32",
    "type": "subflow",
    "name": "ios Action",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 660,
        "y": 60,
        "wires": [
          {
            "id": "376e2b89385a1a42",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "action_name",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Action name"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "source_device_name",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Source device name"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "source_device_id",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Source device Id"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_action_name",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Action name"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_trigger_source",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Trigger source"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_source_device_name",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Source device Name"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_source_device_id",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Source device Id"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 660,
      "y": 120,
      "wires": [
        {
          "id": "0f97284ffa7799b0",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "c4caf83b4cf9eb79",
    "type": "server-events",
    "z": "e9ef583367ad9d32",
    "name": "incoming action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "ios.action_fired",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "event",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event",
        "valueType": "jsonata"
      }
    ],
    "event_type": "",
    "x": 120,
    "y": 60,
    "wires": [
      [
        "fc77a4c3a1445df3"
      ]
    ]
  },
  {
    "id": "376e2b89385a1a42",
    "type": "subflow:667ec96ed52e720e",
    "z": "e9ef583367ad9d32",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ios_action",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_action_name\":\"event.actionName\",\"output_trigger_source\":\"event.triggerSource\",\"output_source_device_id\":\"event.sourceDeviceID\",\"output_source_device_name\":\"event.sourceDeviceName\"}",
        "type": "json"
      }
    ],
    "x": 520,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "0f97284ffa7799b0",
    "type": "function",
    "z": "e9ef583367ad9d32",
    "name": "create status",
    "func": "const text = msg.event.actionName;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "fc77a4c3a1445df3",
    "type": "function",
    "z": "e9ef583367ad9d32",
    "name": "validate action",
    "func": "const action_name = env.get(\"action_name\");\nconst source_device_name = env.get(\"source_device_name\");\nconst source_device_id = env.get(\"source_device_id\");\n\nconst hasValue = (str) => {\n    return str && str !== \"\";\n}\n\nlet valid = true;\n\n// Validate action name\nif (valid && hasValue(action_name)) {\n    valid = action_name == msg.event.actionName;\n}\n\n// Validate source device name\nif (valid && hasValue(source_device_name)) {\n    valid = source_device_name == msg.event.sourceDeviceName;\n}\n\n// Validate source device id\nif (valid && hasValue(source_device_id)) {\n    valid = source_device_id == msg.event.sourceDeviceID;\n}\n\nif (valid) return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 60,
    "wires": [
      [
        "376e2b89385a1a42",
        "0f97284ffa7799b0"
      ]
    ]
  }
]