node-red/subflows/last person leaves home.json
[
  {
    "id": "10bf6a612840df6b",
    "type": "subflow",
    "name": "last person leaves home",
    "info": "Triggers when the last person leaves home\n\n## Output\n\nValue types:\n\n- `Person`: the person that left home\n",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 930,
        "y": 60,
        "wires": [
          {
            "id": "aa0f970f240f3797",
            "port": 0
          }
        ]
      },
      {
        "x": 930,
        "y": 260,
        "wires": [
          {
            "id": "f28cfb1eaf9dd39e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_person",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "person",
      "guest"
    ],
    "status": {
      "x": 900,
      "y": 140,
      "wires": [
        {
          "id": "a008fb2ad1c74bdc",
          "port": 0
        },
        {
          "id": "a731138b4bea4cc2",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "f28cfb1eaf9dd39e",
    "type": "junction",
    "z": "10bf6a612840df6b",
    "x": 640,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "1460052b763787b4",
    "type": "server-state-changed",
    "z": "10bf6a612840df6b",
    "name": "nobody home",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "zone.home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 110,
    "y": 60,
    "wires": [
      [
        "681185c42c7a2b36"
      ],
      []
    ]
  },
  {
    "id": "16f07124f699c070",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "get person that left",
    "func": "const old_persons = msg.data.old_state.attributes.persons;\nconst new_persons = msg.data.new_state.attributes.persons;\n\nconst person = old_persons.filter(p => !new_persons.includes(p))[0];\n\nreturn {\n    person\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 60,
    "wires": [
      [
        "a008fb2ad1c74bdc",
        "aa0f970f240f3797"
      ]
    ]
  },
  {
    "id": "a008fb2ad1c74bdc",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "create status",
    "func": "const text = msg.person;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "799ec6bada6d1670",
    "type": "server-state-changed",
    "z": "10bf6a612840df6b",
    "name": "guest mode inactive",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.guest_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [],
    "x": 130,
    "y": 120,
    "wires": [
      [
        "5c7f5d2a691d5890"
      ],
      []
    ]
  },
  {
    "id": "5c7f5d2a691d5890",
    "type": "api-current-state",
    "z": "10bf6a612840df6b",
    "name": "someone home?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "zone.home",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 350,
    "y": 120,
    "wires": [
      [],
      [
        "a731138b4bea4cc2",
        "f28cfb1eaf9dd39e"
      ]
    ]
  },
  {
    "id": "a731138b4bea4cc2",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "create status",
    "func": "return {\n    payload: {\n        fill: \"green\",\n        text: \"Guest\"\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "681185c42c7a2b36",
    "type": "api-current-state",
    "z": "10bf6a612840df6b",
    "name": "guest mode active?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 310,
    "y": 60,
    "wires": [
      [],
      [
        "16f07124f699c070"
      ]
    ]
  },
  {
    "id": "aa0f970f240f3797",
    "type": "subflow:667ec96ed52e720e",
    "z": "10bf6a612840df6b",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "last_person_leaves_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_person\":\"person\"}",
        "type": "json"
      }
    ],
    "x": 750,
    "y": 60,
    "wires": [
      []
    ]
  }
]