node-red/subflows/load yaml to global context.json
[
  {
    "id": "a85b024b9414b0d3",
    "type": "subflow",
    "name": "load yaml to global context",
    "info": "Load yaml file to global context\n\n### Configuration\n\n#### `Path required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe path to the yaml file\n\n#### `Global context prefix required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe prefix to use for the global context keys\n",
    "category": "storage",
    "in": [
      {
        "x": 40,
        "y": 80,
        "wires": [
          {
            "id": "2839341efc3b7681"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1120,
        "y": 80,
        "wires": [
          {
            "id": "ee955fdd2eb57520",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "path",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Path"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "global_variable",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Global context variable"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DEB887",
    "icon": "node-red/parser-yaml.svg"
  },
  {
    "id": "b7e466aacdbccc4d",
    "type": "file in",
    "z": "a85b024b9414b0d3",
    "name": "read yaml",
    "filename": "load_yaml_to_global_context.path",
    "filenameType": "msg",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 360,
    "y": 80,
    "wires": [
      [
        "3c1c1139335898aa"
      ]
    ]
  },
  {
    "id": "3c1c1139335898aa",
    "type": "yaml",
    "z": "a85b024b9414b0d3",
    "property": "payload",
    "name": "parse yaml",
    "x": 530,
    "y": 80,
    "wires": [
      [
        "911c876a6099626f"
      ]
    ]
  },
  {
    "id": "911c876a6099626f",
    "type": "function",
    "z": "a85b024b9414b0d3",
    "name": "set global context variable",
    "func": "const global_variable = msg.load_yaml_to_global_context.global_variable;\n\nglobal.set(global_variable, msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 80,
    "wires": [
      [
        "ee955fdd2eb57520"
      ]
    ]
  },
  {
    "id": "ee955fdd2eb57520",
    "type": "subflow:667ec96ed52e720e",
    "z": "a85b024b9414b0d3",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "load_yaml_to_global_context",
        "type": "str"
      }
    ],
    "x": 980,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "2839341efc3b7681",
    "type": "subflow:846b2a595d7e7acf",
    "z": "a85b024b9414b0d3",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "load_yaml_to_global_context",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"path\",\"global_variable\"]",
        "type": "json"
      }
    ],
    "x": 180,
    "y": 80,
    "wires": [
      [
        "b7e466aacdbccc4d"
      ]
    ]
  }
]