node-red/subflows/notification action.json
[
  {
    "id": "063a3a19a1781679",
    "type": "subflow",
    "name": "notification action",
    "info": "Start a flow when an action is triggered from an notification action.\r\n\r\n### Configuration\r\n\r\n#### `Action (regex) required`\r\n- Type: `string`\r\n\r\nA regex used to identify the notification action\r\n\r\n## Output\r\n\r\nValue types:\r\n\r\n- `Person`: the person that triggered the action. ***(If used, the name of the person must be included in the action name, for example `TEST_ALBIN`)***\r\n\r\n- `Action`: the name of the action that was triggered",
    "category": "notification",
    "in": [],
    "out": [
      {
        "x": 980,
        "y": 80,
        "wires": [
          {
            "id": "3eea908ac5aabf83",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "action",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Action (regex)"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_person",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_action",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-in",
          "label": {
            "en-US": "Action"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#C0DEED",
    "icon": "font-awesome/fa-comment"
  },
  {
    "id": "bb94dc5fe5cd4386",
    "type": "server-events",
    "z": "063a3a19a1781679",
    "name": "notification action",
    "server": "e9739673.bbfed8",
    "version": 3,
    "exposeAsEntityConfig": "",
    "eventType": "mobile_app_notification_action",
    "eventData": "",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "action_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event.action",
        "valueType": "jsonata"
      },
      {
        "property": "reset",
        "propertyType": "msg",
        "value": "true",
        "valueType": "bool"
      }
    ],
    "x": 180,
    "y": 80,
    "wires": [
      [
        "725ac6d9751ede79"
      ]
    ]
  },
  {
    "id": "725ac6d9751ede79",
    "type": "switch",
    "z": "063a3a19a1781679",
    "name": "is correct action?",
    "property": "action_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "action",
        "vt": "env",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 390,
    "y": 80,
    "wires": [
      [
        "dc3fa55075b6516c"
      ]
    ]
  },
  {
    "id": "3eea908ac5aabf83",
    "type": "subflow:667ec96ed52e720e",
    "z": "063a3a19a1781679",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "notification_action",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_action\":\"action_type\",\"output_person\":\"person\"}",
        "type": "json"
      }
    ],
    "x": 840,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "dc3fa55075b6516c",
    "type": "function",
    "z": "063a3a19a1781679",
    "name": "get person from action",
    "func": "let person = undefined;\n\nif(env.get('output_person')) {\n    const person_name = msg.action_type.split('_')[1].toLowerCase()\n    person = `person.${person_name}`;\n}\n\nreturn {\n    ...msg,\n    person: person\n};",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 80,
    "wires": [
      [
        "3eea908ac5aabf83"
      ]
    ]
  }
]