node-red/subflows/notification action timeout.json
[
  {
    "id": "c95d61a1b9dd9e02",
    "type": "subflow",
    "name": "notification action timeout",
    "info": "Wait for a notification action, with timeout\n\n### Configuration\n\n#### `Action (regex) required`\n\n- Type: `string`\n\nA regex used to identify the notification action\n\n#### `Timeout required`\n\n- Type: `number`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe timout used for the notification action\n\n## Output\n\nValue types:\n\n- `Action`: the action that was used\n\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "b7f62e0f401f8eee"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1350,
        "y": 220,
        "wires": [
          {
            "id": "6602fc5b4c1d8ff8",
            "port": 0
          }
        ]
      },
      {
        "x": 1360,
        "y": 60,
        "wires": [
          {
            "id": "603758d70cad1b6c",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "action",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Action (regex)"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "timeout",
        "type": "num",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Timeout"
          },
          "type": "input",
          "opts": {
            "types": [
              "num"
            ]
          }
        }
      },
      {
        "name": "output_action",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Action"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "action",
      "timeout"
    ],
    "status": {
      "x": 1320,
      "y": 140,
      "wires": [
        {
          "id": "84cab82cad4c5ab4",
          "port": 0
        },
        {
          "id": "0346da3a99c43c8e",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "ac183c5dc6184e49",
    "type": "delay",
    "z": "c95d61a1b9dd9e02",
    "name": "delay",
    "pauseType": "delayv",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 770,
    "y": 60,
    "wires": [
      [
        "2eb64c0ea19f6b79"
      ]
    ]
  },
  {
    "id": "62187b595c3b4844",
    "type": "server-events",
    "z": "c95d61a1b9dd9e02",
    "name": "notification action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "action_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event.action",
        "valueType": "jsonata"
      },
      {
        "property": "reset",
        "propertyType": "msg",
        "value": "true",
        "valueType": "bool"
      }
    ],
    "x": 130,
    "y": 220,
    "wires": [
      [
        "c5b4b74f55c02e39"
      ]
    ]
  },
  {
    "id": "c5b4b74f55c02e39",
    "type": "switch",
    "z": "c95d61a1b9dd9e02",
    "name": "is correct action?",
    "property": "action_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "action",
        "vt": "env",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 350,
    "y": 220,
    "wires": [
      [
        "b0f5078df0d931cf"
      ]
    ]
  },
  {
    "id": "84cab82cad4c5ab4",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "create status",
    "func": "const text = \"timeout\";\n\nreturn {\n    payload: {\n        fill: \"red\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1190,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "b7f62e0f401f8eee",
    "type": "subflow:846b2a595d7e7acf",
    "z": "c95d61a1b9dd9e02",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "notification_action_timeout",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"timeout\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "a525c16e3408ed0f"
      ]
    ]
  },
  {
    "id": "603758d70cad1b6c",
    "type": "subflow:667ec96ed52e720e",
    "z": "c95d61a1b9dd9e02",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "notification_action_timeout",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_action\":\"action_type\"}",
        "type": "json"
      }
    ],
    "x": 1180,
    "y": 60,
    "wires": [
      [
        "84cab82cad4c5ab4"
      ]
    ]
  },
  {
    "id": "846ded3f4c609fee",
    "type": "change",
    "z": "c95d61a1b9dd9e02",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "delay",
        "pt": "msg",
        "to": "msg.notification_action_timeout.timeout * 1000",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 60,
    "wires": [
      [
        "ac183c5dc6184e49"
      ]
    ]
  },
  {
    "id": "0346da3a99c43c8e",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "create status",
    "func": "const text = \"action\";\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1190,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "6602fc5b4c1d8ff8",
    "type": "subflow:667ec96ed52e720e",
    "z": "c95d61a1b9dd9e02",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "notification_action_timeout",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_action\":\"action_type\"}",
        "type": "json"
      }
    ],
    "x": 1180,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "a525c16e3408ed0f",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "add one running",
    "func": "const unique_id = 'notification_action_timeout';\nconst action = env.get('action');\nconst flow_key = `${unique_id}_${action}`;\n\nconst current_running = flow.get(flow_key) ?? 0;\n\nflow.set(flow_key, current_running + 1);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 60,
    "wires": [
      [
        "846ded3f4c609fee"
      ]
    ]
  },
  {
    "id": "b0f5078df0d931cf",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "check if running",
    "func": "const unique_id = 'notification_action_timeout';\nconst action = env.get('action');\nconst flow_key = `${unique_id}_${action}`;\n\nconst current_running = flow.get(flow_key) ?? 0;\n\nif (current_running > 0) {\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 220,
    "wires": [
      [
        "ac183c5dc6184e49",
        "7e6951b154a50767"
      ]
    ]
  },
  {
    "id": "e545221051ff4641",
    "type": "comment",
    "z": "c95d61a1b9dd9e02",
    "name": "Remove one",
    "info": "Kan fortfarande finnas fler med längre timeout",
    "x": 870,
    "y": 20,
    "wires": []
  },
  {
    "id": "7e6951b154a50767",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "remove all running",
    "func": "const unique_id = 'notification_action_timeout';\nconst action = env.get('action');\nconst flow_key = `${unique_id}_${action}`;\n\nconst current_running = flow.get(flow_key) ?? 0;\n\nflow.set(flow_key, undefined);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 220,
    "wires": [
      [
        "6602fc5b4c1d8ff8",
        "0346da3a99c43c8e"
      ]
    ]
  },
  {
    "id": "2eb64c0ea19f6b79",
    "type": "function",
    "z": "c95d61a1b9dd9e02",
    "name": "remove one running",
    "func": "const unique_id = 'notification_action_timeout';\nconst action = env.get('action');\nconst flow_key = `${unique_id}_${action}`;\n\nconst current_running = flow.get(flow_key) ?? 0;\n\nif (current_running > 1) {\n    flow.set(flow_key, current_running - 1);\n} else {\n    flow.set(flow_key, undefined);\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 60,
    "wires": [
      [
        "603758d70cad1b6c"
      ]
    ]
  }
]