node-red/subflows/ns panel clear notifications.json
[
  {
    "id": "ae792429f867c954",
    "type": "subflow",
    "name": "ns panel clear notifications",
    "info": "Wait for NS Panel notification action, with timeout\n\n### Configuration\n\n#### `NS Panels required`\n\n- Type: `list`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nA list of NS Panel names where to clear the notifications",
    "category": "ns_panel",
    "in": [
      {
        "x": 40,
        "y": 40,
        "wires": [
          {
            "id": "5889f24299d47cdf"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1380,
        "y": 40,
        "wires": [
          {
            "id": "2bdde2e4030b61fa",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ns_panels",
        "type": "json",
        "value": "[]",
        "ui": {
          "label": {
            "en-US": "NS Panels"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "64265ebcbeeb3ceb",
    "type": "api-call-service",
    "z": "ae792429f867c954",
    "name": "go to homepage",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ send_command_printf_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"cmd\":\"page home\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1040,
    "y": 40,
    "wires": [
      [
        "2bdde2e4030b61fa"
      ]
    ]
  },
  {
    "id": "af1b4adc883a47bb",
    "type": "api-current-state",
    "z": "ae792429f867c954",
    "name": "is on notification page",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "notification",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{ current_page_entity }}",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 820,
    "y": 40,
    "wires": [
      [
        "64265ebcbeeb3ceb"
      ],
      []
    ]
  },
  {
    "id": "801ce9af772310fe",
    "type": "api-call-service",
    "z": "ae792429f867c954",
    "name": "clear notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ notification_clear_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 40,
    "wires": [
      [
        "af1b4adc883a47bb"
      ]
    ]
  },
  {
    "id": "2a0636879e30aaa0",
    "type": "function",
    "z": "ae792429f867c954",
    "name": "for every ns panel",
    "func": "const ns_panels = msg.ns_panel_clear_notifications.ns_panels;\nns_panels.forEach((ns_panel) => {\n    const current_page_entity = `sensor.${ns_panel}_currentpage`\n    const notification_clear_service = `${ns_panel}_notification_clear`;\n    const send_command_printf_service = `${ns_panel}_send_command_printf`;\n    node.send({\n        ...msg,\n        current_page_entity,\n        notification_clear_service,\n        send_command_printf_service\n    });\n});\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 40,
    "wires": [
      [
        "801ce9af772310fe"
      ]
    ]
  },
  {
    "id": "2bdde2e4030b61fa",
    "type": "subflow:667ec96ed52e720e",
    "z": "ae792429f867c954",
    "name": "",
    "x": 1240,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "5889f24299d47cdf",
    "type": "subflow:846b2a595d7e7acf",
    "z": "ae792429f867c954",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_clear_notifications",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"ns_panels\"]",
        "type": "json"
      }
    ],
    "x": 180,
    "y": 40,
    "wires": [
      [
        "2a0636879e30aaa0"
      ]
    ]
  }
]