node-red/subflows/ns panel notification action timeout.json
[
  {
    "id": "778fe590ae6f3a0e",
    "type": "subflow",
    "name": "ns panel notification action timeout",
    "info": "Wait for NS Panel notification action, with timeout\n\n### Configuration\n\n#### `NS Panels required`\n\n- Type: `list`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nA list of NS Panel names where to listening for notification action\n\n#### `Timeout required`\n\n- Type: `number`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe timeout in seconds used for the notification\n\n#### `Remain required`\n\n- Type: `boolean`\n\nIf the notifications should remain if declined or on other NS Panels if accepted\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "9be0f73334cd4192"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1220,
        "y": 60,
        "wires": [
          {
            "id": "db7d3a21f1b7f5a4",
            "port": 0
          }
        ]
      },
      {
        "x": 1220,
        "y": 140,
        "wires": [
          {
            "id": "b3b5f4055b818cb6",
            "port": 0
          }
        ]
      },
      {
        "x": 1220,
        "y": 220,
        "wires": [
          {
            "id": "2ce048ed0ef1b93a",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ns_panels",
        "type": "json",
        "value": "[]",
        "ui": {
          "label": {
            "en-US": "NS Panels"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "timeout",
        "type": "num",
        "value": "60",
        "ui": {
          "label": {
            "en-US": "Timeout"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "num"
            ]
          }
        }
      },
      {
        "name": "remain",
        "type": "bool",
        "value": "false",
        "ui": {
          "label": {
            "en-US": "Remain"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "bool"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "accepted",
      "declined",
      "timed out"
    ],
    "status": {
      "x": 140,
      "y": 200,
      "wires": [
        {
          "id": "6b483041cf5a0623",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "6f7e788d1e3b1a5b",
    "type": "group",
    "z": "778fe590ae6f3a0e",
    "name": "Hide notifications",
    "style": {
      "label": true
    },
    "nodes": [
      "965dfe91d690dee1",
      "7f2e65970d6838cd",
      "ebf3896a26a64096",
      "fa9002de83ee4327"
    ],
    "x": 44,
    "y": 319,
    "w": 702,
    "h": 82
  },
  {
    "id": "c993128519e21572",
    "type": "junction",
    "z": "778fe590ae6f3a0e",
    "x": 900,
    "y": 220,
    "wires": [
      [
        "2ce048ed0ef1b93a",
        "a974b819e2404ab1"
      ]
    ]
  },
  {
    "id": "a8b61fd733d27b45",
    "type": "ha-wait-until",
    "z": "778fe590ae6f3a0e",
    "name": "wait for action",
    "server": "e9739673.bbfed8",
    "version": 2,
    "outputs": 2,
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "notificationclearrelease$|notificationacceptrelease$",
    "valueType": "re",
    "timeout": "ns_panel_notification_action_timeout.timeout",
    "timeoutType": "jsonata",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "entityLocation": "data",
    "entityLocationType": "none",
    "x": 660,
    "y": 120,
    "wires": [
      [
        "42e0490e73500f90",
        "9ad5790aa7edbcc3"
      ],
      [
        "c993128519e21572",
        "9ad5790aa7edbcc3"
      ]
    ]
  },
  {
    "id": "9be0f73334cd4192",
    "type": "subflow:846b2a595d7e7acf",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification_action_timeout",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"ns_panels\",\"timeout\",\"remain\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 120,
    "wires": [
      [
        "b0bc3bebcbcff737",
        "ba68b298c9295f36"
      ]
    ]
  },
  {
    "id": "2ce048ed0ef1b93a",
    "type": "subflow:667ec96ed52e720e",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification_action_timeout",
        "type": "str"
      }
    ],
    "x": 1040,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "b3b5f4055b818cb6",
    "type": "subflow:667ec96ed52e720e",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification_action_timeout",
        "type": "str"
      }
    ],
    "x": 1040,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "db7d3a21f1b7f5a4",
    "type": "subflow:667ec96ed52e720e",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification_action_timeout",
        "type": "str"
      }
    ],
    "x": 1040,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "42e0490e73500f90",
    "type": "switch",
    "z": "778fe590ae6f3a0e",
    "name": "accepted?",
    "property": "entity.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "notificationacceptrelease",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 120,
    "wires": [
      [
        "db7d3a21f1b7f5a4",
        "cac5a2e42aad1757"
      ],
      [
        "b3b5f4055b818cb6",
        "441b423bb47d7970"
      ]
    ]
  },
  {
    "id": "a974b819e2404ab1",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "name": "create status",
    "func": "const text = 'timed out';\n\nreturn {\n    payload: {\n        fill: 'red',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 260,
    "wires": [
      [
        "83e380b194dda3f8"
      ]
    ]
  },
  {
    "id": "441b423bb47d7970",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "name": "create status",
    "func": "const text = 'declined';\n\nreturn {\n    payload: {\n        fill: 'red',\n        shape: 'ring',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 180,
    "wires": [
      [
        "3ae2c279dfe1508e"
      ]
    ]
  },
  {
    "id": "cac5a2e42aad1757",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "name": "create status",
    "func": "const text = 'accepted';\n\nreturn {\n    payload: {\n        fill: 'green',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 100,
    "wires": [
      [
        "642427305fc92c70"
      ]
    ]
  },
  {
    "id": "ba68b298c9295f36",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "name": "create status",
    "func": "const text = 'waiting for action';\n\nreturn {\n    payload: {\n        fill: 'yellow',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 80,
    "wires": [
      [
        "a4511aab0daa2605"
      ]
    ]
  },
  {
    "id": "b0bc3bebcbcff737",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "name": "create last_click regex",
    "func": "const ns_panels = msg.ns_panel_notification_action_timeout.ns_panels;\nconst sensors = ns_panels.map((ns_panel) => `sensor.${ns_panel}_last_click$`);\nconst last_click_regex = sensors.join('|');\n\nreturn {\n    ...msg,\n    payload: {\n        entity_id: last_click_regex,\n        entityIdFilterType: 'regex',\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": [
      [
        "a8b61fd733d27b45"
      ]
    ]
  },
  {
    "id": "6b483041cf5a0623",
    "type": "link in",
    "z": "778fe590ae6f3a0e",
    "name": "status",
    "links": [
      "642427305fc92c70",
      "3ae2c279dfe1508e",
      "83e380b194dda3f8",
      "a4511aab0daa2605"
    ],
    "x": 65,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "642427305fc92c70",
    "type": "link out",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "mode": "link",
    "links": [
      "6b483041cf5a0623"
    ],
    "x": 1175,
    "y": 100,
    "wires": []
  },
  {
    "id": "3ae2c279dfe1508e",
    "type": "link out",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "mode": "link",
    "links": [
      "6b483041cf5a0623"
    ],
    "x": 1175,
    "y": 180,
    "wires": []
  },
  {
    "id": "83e380b194dda3f8",
    "type": "link out",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "mode": "link",
    "links": [
      "6b483041cf5a0623"
    ],
    "x": 1175,
    "y": 260,
    "wires": []
  },
  {
    "id": "a4511aab0daa2605",
    "type": "link out",
    "z": "778fe590ae6f3a0e",
    "name": "show status",
    "mode": "link",
    "links": [
      "6b483041cf5a0623"
    ],
    "x": 505,
    "y": 80,
    "wires": []
  },
  {
    "id": "965dfe91d690dee1",
    "type": "link in",
    "z": "778fe590ae6f3a0e",
    "g": "6f7e788d1e3b1a5b",
    "name": "clear notifications",
    "links": [
      "8604b010b2ff6b04"
    ],
    "x": 85,
    "y": 360,
    "wires": [
      [
        "7f2e65970d6838cd"
      ]
    ]
  },
  {
    "id": "7f2e65970d6838cd",
    "type": "function",
    "z": "778fe590ae6f3a0e",
    "g": "6f7e788d1e3b1a5b",
    "name": "for every ns panel",
    "func": "const ns_panels = msg.ns_panel_notification_action_timeout.ns_panels;\nns_panels.forEach((ns_panel) => {\n    const notification_clear_service = `${ns_panel}_notification_clear`;\n    const send_command_printf_service = `${ns_panel}_send_command_printf`;\n    node.send({\n        ...msg,\n        notification_clear_service,\n        send_command_printf_service\n    });\n});\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 230,
    "y": 360,
    "wires": [
      [
        "ebf3896a26a64096"
      ]
    ]
  },
  {
    "id": "ebf3896a26a64096",
    "type": "api-call-service",
    "z": "778fe590ae6f3a0e",
    "g": "6f7e788d1e3b1a5b",
    "name": "clear notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ notification_clear_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "kebab",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 440,
    "y": 360,
    "wires": [
      [
        "fa9002de83ee4327"
      ]
    ]
  },
  {
    "id": "fa9002de83ee4327",
    "type": "api-call-service",
    "z": "778fe590ae6f3a0e",
    "g": "6f7e788d1e3b1a5b",
    "name": "go to homepage",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ send_command_printf_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"cmd\":\"page home\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "kebab",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 640,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "8604b010b2ff6b04",
    "type": "link out",
    "z": "778fe590ae6f3a0e",
    "name": "",
    "mode": "link",
    "links": [
      "965dfe91d690dee1"
    ],
    "x": 895,
    "y": 260,
    "wires": []
  },
  {
    "id": "9ad5790aa7edbcc3",
    "type": "switch",
    "z": "778fe590ae6f3a0e",
    "name": "not remain",
    "property": "ns_panel_notification_action_timeout.remain",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 770,
    "y": 260,
    "wires": [
      [
        "8604b010b2ff6b04"
      ]
    ]
  }
]