node-red/subflows/ns panel notification.json
[
  {
    "id": "5799dae45d05d32f",
    "type": "subflow",
    "name": "ns panel notification",
    "info": "Show notification on NS Panel\n\n### Configuration\n\n#### `NS Panel required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe name of the NS Panel\n\n#### `Label required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification label\n\n#### `Text required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification text\n\n#### `Sound required`\n\n- Type: `string`\n\nThe sound to play with the notification, set None for not playing a sound.\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 40,
        "wires": [
          {
            "id": "65e81a4db530a853"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1380,
        "y": 40,
        "wires": [
          {
            "id": "c0637180b40fcc6e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ns_panel",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "NS Panel"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "label",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Label"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "text",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Text"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "sound",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Sound"
          },
          "type": "select",
          "opts": {
            "opts": [
              {
                "l": {
                  "en-US": "None"
                },
                "v": "none"
              },
              {
                "l": {
                  "en-US": "Default"
                },
                "v": "two short:d=4,o=5,b=100:16e6,16e6\""
              },
              {
                "l": {
                  "en-US": "Simpsons"
                },
                "v": "simpsons:d=4,o=5,b=160:c.6, e6, f#6, 8a6, g.6, e6, c6, 8a, 8f#, 8f#, 8f#, 2g, 8p, 8p, 8f#, 8f#, 8f#, 8g, a#., 8c6, 8c6, 8c6, c6 "
              }
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "65e81a4db530a853",
    "type": "subflow:846b2a595d7e7acf",
    "z": "5799dae45d05d32f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"ns_panel\",\"label\",\"text\",\"sound\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 40,
    "wires": [
      [
        "881338b5e25c39eb"
      ]
    ]
  },
  {
    "id": "c0637180b40fcc6e",
    "type": "subflow:667ec96ed52e720e",
    "z": "5799dae45d05d32f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification",
        "type": "str"
      }
    ],
    "x": 1240,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "881338b5e25c39eb",
    "type": "function",
    "z": "5799dae45d05d32f",
    "name": "map services and entities",
    "func": "const ns_panel = msg.ns_panel_notification.ns_panel;\n\nconst notification_sound_entity = `${ns_panel}_notification_sound`;\nconst notification_show_service = `${ns_panel}_notification_show`;\nconst play_rtttl_service = `${ns_panel}_play_rtttl`;\n\nreturn {\n    ...msg,\n    notification_sound_entity,\n    notification_show_service,\n    play_rtttl_service\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 40,
    "wires": [
      [
        "a885835287d263bf"
      ]
    ]
  },
  {
    "id": "a885835287d263bf",
    "type": "api-call-service",
    "z": "5799dae45d05d32f",
    "name": "show notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ notification_show_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"label\": ns_panel_notification.label,\t    \"text\": ns_panel_notification.text\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 40,
    "wires": [
      [
        "434f92e7c9422124"
      ]
    ]
  },
  {
    "id": "63efb2544968d0ac",
    "type": "api-call-service",
    "z": "5799dae45d05d32f",
    "name": "play rtttl",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ play_rtttl_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"song_str\": ns_panel_notification.sound\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1060,
    "y": 80,
    "wires": [
      [
        "c0637180b40fcc6e"
      ]
    ]
  },
  {
    "id": "434f92e7c9422124",
    "type": "switch",
    "z": "5799dae45d05d32f",
    "name": "sound is none?",
    "property": "ns_panel_notification.sound",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "none",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 880,
    "y": 40,
    "wires": [
      [
        "c0637180b40fcc6e"
      ],
      [
        "63efb2544968d0ac"
      ]
    ]
  }
]