node-red/subflows/ns panel notification.json
[
  {
    "id": "5799dae45d05d32f",
    "type": "subflow",
    "name": "ns panel notification",
    "info": "Show notification on NS Panel\n\n### Configuration\n\n#### `NS Panels required`\n\n- Type: `array`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nName of the NS Panels to show the notification on\n\n#### `Label required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification label\n\n#### `Text required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification text\n\n#### `Sound required`\n\n- Type: `string`\n\nThe sound to play with the notification, set None for not playing a sound.\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 40,
        "wires": [
          {
            "id": "65e81a4db530a853"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1660,
        "y": 40,
        "wires": [
          {
            "id": "c0637180b40fcc6e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ns_panels",
        "type": "json",
        "value": "[]",
        "ui": {
          "label": {
            "en-US": "NS Panels"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "label",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Label"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "text",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Text"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "sound",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Sound"
          },
          "type": "select",
          "opts": {
            "opts": [
              {
                "l": {
                  "en-US": "None"
                },
                "v": "none"
              },
              {
                "l": {
                  "en-US": "Default"
                },
                "v": "two short:d=4,o=5,b=100:16e6,16e6\""
              },
              {
                "l": {
                  "en-US": "Simpsons"
                },
                "v": "simpsons:d=4,o=5,b=160:c.6, e6, f#6, 8a6, g.6, e6, c6, 8a, 8f#, 8f#, 8f#, 2g, 8p, 8p, 8f#, 8f#, 8f#, 8g, a#., 8c6, 8c6, 8c6, c6 "
              }
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1660,
      "y": 100,
      "wires": [
        {
          "id": "78c81ec4f2c90a83",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "65e81a4db530a853",
    "type": "subflow:846b2a595d7e7acf",
    "z": "5799dae45d05d32f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"ns_panels\",\"label\",\"text\",\"sound\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 40,
    "wires": [
      [
        "aec59f5f5be36759"
      ]
    ]
  },
  {
    "id": "aec59f5f5be36759",
    "type": "function",
    "z": "5799dae45d05d32f",
    "name": "for every ns panel",
    "func": "const ns_panels = msg.ns_panel_notification.ns_panels;\nns_panels.forEach((ns_panel, index) => {\n    node.send({\n        ...msg,\n        ns_panel,\n        parts: {\n            id: \"ns_panel_notification\",\n            type: \"array\",\n            count: ns_panels.length,\n            len: 1,\n            index\n        }\n    });\n});\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 40,
    "wires": [
      [
        "9addbf8edbbc80c8"
      ]
    ]
  },
  {
    "id": "3b55bb4418648944",
    "type": "join",
    "z": "5799dae45d05d32f",
    "name": "",
    "mode": "auto",
    "build": "array",
    "property": "",
    "propertyType": "full",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 1350,
    "y": 40,
    "wires": [
      [
        "c0637180b40fcc6e",
        "78c81ec4f2c90a83"
      ]
    ]
  },
  {
    "id": "8a300e4d9985ac0d",
    "type": "api-call-service",
    "z": "5799dae45d05d32f",
    "name": "show notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ notification_show_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"label\": ns_panel_notification.label,\t    \"text\": ns_panel_notification.text\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 810,
    "y": 40,
    "wires": [
      [
        "edfc9d11913960c1"
      ]
    ]
  },
  {
    "id": "9addbf8edbbc80c8",
    "type": "function",
    "z": "5799dae45d05d32f",
    "name": "map services",
    "func": "const ns_panel = msg.ns_panel;\n\nconst notification_show_service = `${ns_panel}_notification_show`;\nconst play_rtttl_service = `${ns_panel}_play_rtttl`;\n\nreturn {\n    ...msg,\n    notification_show_service,\n    play_rtttl_service\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 40,
    "wires": [
      [
        "8a300e4d9985ac0d"
      ]
    ]
  },
  {
    "id": "8c71ca838a9cf010",
    "type": "api-call-service",
    "z": "5799dae45d05d32f",
    "name": "play rtttl",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "esphome",
    "service": "{{ play_rtttl_service }}",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\t    \"song_str\": ns_panel_notification.sound\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 80,
    "wires": [
      [
        "3b55bb4418648944"
      ]
    ]
  },
  {
    "id": "edfc9d11913960c1",
    "type": "switch",
    "z": "5799dae45d05d32f",
    "name": "sound is none?",
    "property": "ns_panel_notification.sound",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "none",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1020,
    "y": 40,
    "wires": [
      [
        "3b55bb4418648944"
      ],
      [
        "8c71ca838a9cf010"
      ]
    ]
  },
  {
    "id": "c0637180b40fcc6e",
    "type": "subflow:667ec96ed52e720e",
    "z": "5799dae45d05d32f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "ns_panel_notification",
        "type": "str"
      }
    ],
    "x": 1520,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "78c81ec4f2c90a83",
    "type": "function",
    "z": "5799dae45d05d32f",
    "name": "create status",
    "func": "const text = msg.ns_panel_notification.ns_panels.join(', ');\n\nreturn {\n    payload: {\n        fill: 'green',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1530,
    "y": 100,
    "wires": [
      []
    ]
  }
]