node-red/subflows/Play media.json
[
  {
    "id": "ad0b3a8015e7f49b",
    "type": "subflow",
    "name": "Play media",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "7d5dcacedbbc15e3"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1580,
        "y": 60,
        "wires": [
          {
            "id": "130a97d040fd0f62",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "media_player",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Media player"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "media_content_type",
        "type": "str",
        "value": "audio/mp3",
        "ui": {
          "label": {
            "en-US": "Content type"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "media_content_id",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Content Id"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "announce",
        "type": "bool",
        "value": "true",
        "ui": {
          "label": {
            "en-US": "Announce"
          },
          "type": "checkbox"
        }
      },
      {
        "name": "volume_level",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Volume"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "num"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1580,
      "y": 140,
      "wires": [
        {
          "id": "4bd83ca5e99a297a",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "05ae649663b26e09",
    "type": "junction",
    "z": "ad0b3a8015e7f49b",
    "x": 1300,
    "y": 120,
    "wires": [
      [
        "4bd83ca5e99a297a",
        "130a97d040fd0f62"
      ]
    ]
  },
  {
    "id": "7d5dcacedbbc15e3",
    "type": "function",
    "z": "ad0b3a8015e7f49b",
    "name": "setup",
    "func": "// Define inputs\nconst env_keys = ['media_player', 'media_content_type', 'media_content_id', 'volume_level'];\n\n// Where should the parsed inputs be stored during the subflow\nconst storage = 'flow_storage';\n\n// Save the msg\nflow.set('input_msg', JSON.stringify(msg));\n\nmsg[storage] = {};\n\n// Check if string contains mustache\nconst containsMustache = (str) => {\n    const regex = /{{(?:(?!}}).+)}}/g;\n    return regex.test(str);\n}\n\n// Parse inputs\nenv_keys.forEach((env_key) => {\n    let env_value = env.get(env_key);\n    if (containsMustache(env_value)) {\n        env_value = env_value.replace(/(\\{{)\\s*(\\S+)\\s*(\\}})/g, \"$2\");\n        env_value = selectn(env_value, msg);\n    }\n    msg[storage][env_key] = env_value;\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "selectn",
        "module": "selectn"
      }
    ],
    "x": 170,
    "y": 60,
    "wires": [
      [
        "b6fd16c3c12c6c48"
      ]
    ]
  },
  {
    "id": "b6fd16c3c12c6c48",
    "type": "api-current-state",
    "z": "ad0b3a8015e7f49b",
    "name": "TTS Muted?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tts_mute",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 330,
    "y": 60,
    "wires": [
      [],
      [
        "9b2ab136d63e135e"
      ]
    ]
  },
  {
    "id": "9b2ab136d63e135e",
    "type": "switch",
    "z": "ad0b3a8015e7f49b",
    "name": "Volume set?",
    "property": "flow_storage.volume_level",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      },
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 60,
    "wires": [
      [
        "b5dcc93fec6c966c"
      ],
      [
        "a9cc56f2b6cf47ed"
      ]
    ]
  },
  {
    "id": "b5dcc93fec6c966c",
    "type": "api-current-state",
    "z": "ad0b3a8015e7f49b",
    "name": "Get media player",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{ flow_storage.media_player }}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "media_player_entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 710,
    "y": 60,
    "wires": [
      [
        "11ed05c4a7d9af59"
      ]
    ]
  },
  {
    "id": "11ed05c4a7d9af59",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "Set volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ flow_storage.media_player }}"
    ],
    "data": "{ \"volume_level\": flow_storage.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 910,
    "y": 60,
    "wires": [
      [
        "c512f6a566e58a44"
      ]
    ]
  },
  {
    "id": "50eb7190b4ecc241",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "Reset volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ flow_storage.media_player }}"
    ],
    "data": "{ \"volume_level\": media_player_entity.attributes.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1280,
    "y": 60,
    "wires": [
      [
        "4bd83ca5e99a297a",
        "130a97d040fd0f62"
      ]
    ]
  },
  {
    "id": "c512f6a566e58a44",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "Play media",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ flow_storage.media_player }}"
    ],
    "data": "{\t   \"media_content_type\": flow_storage.media_content_type,\t   \"media_content_id\": flow_storage.media_content_id,\t   \"announce\": $env(\"announce\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1090,
    "y": 60,
    "wires": [
      [
        "50eb7190b4ecc241"
      ]
    ]
  },
  {
    "id": "a9cc56f2b6cf47ed",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "Play media",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ flow_storage.media_player }}"
    ],
    "data": "{\t   \"media_content_type\": flow_storage.media_content_type,\t   \"media_content_id\": flow_storage.media_content_id,\t   \"announce\": $env(\"announce\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 690,
    "y": 120,
    "wires": [
      [
        "05ae649663b26e09"
      ]
    ]
  },
  {
    "id": "4bd83ca5e99a297a",
    "type": "function",
    "z": "ad0b3a8015e7f49b",
    "name": "Create status",
    "func": "const text = msg.flow_storage.media_player;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1440,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "130a97d040fd0f62",
    "type": "function",
    "z": "ad0b3a8015e7f49b",
    "name": "cleanup",
    "func": "// Define outputs\n// * Key - environment variable\n// * Value - msg path to value\nconst outputs = {};\n\nconst buildObjWithValue = (path, value = '') => {\n    const paths = path.split('.');\n    return paths.reduceRight((acc, item, index) => ({\n        [item]: index === paths.length - 1\n            ? value\n            : acc\n    }), {});\n}\n\n// Set output variables\nconst output_values = {};\nObject.keys(outputs).forEach((output_key) => {\n    const output_value_path = outputs[output_key];\n    const output_value_location = env.get(output_key);\n    const output_value = selectn(output_value_path, msg)\n    if (output_value_location && output_value_location !== \"\") {\n        Object.assign(output_values, buildObjWithValue(output_value_location, output_value));\n    }\n});\n\n// Load the msg as the input was to the subflow\nconst pre_msg = JSON.parse(flow.get('input_msg'));\n\n// Return the input message alongside the outputs\nmsg = Object.assign(pre_msg, output_values);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "selectn",
        "module": "selectn"
      }
    ],
    "x": 1460,
    "y": 60,
    "wires": [
      []
    ]
  }
]