node-red/subflows/play media.json
[
  {
    "id": "ad0b3a8015e7f49b",
    "type": "subflow",
    "name": "play media",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "96c993fb8bc5ec5e"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1660,
        "y": 60,
        "wires": [
          {
            "id": "2e978a9d86ad2a6c",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "media_player",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Media player"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "media_content_type",
        "type": "str",
        "value": "audio/mp3",
        "ui": {
          "label": {
            "en-US": "Content type"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "media_content_id",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Content Id"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "announce",
        "type": "bool",
        "value": "true",
        "ui": {
          "label": {
            "en-US": "Announce"
          },
          "type": "checkbox"
        }
      },
      {
        "name": "volume_level",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Volume"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "num"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1660,
      "y": 140,
      "wires": [
        {
          "id": "4bd83ca5e99a297a",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "05ae649663b26e09",
    "type": "junction",
    "z": "ad0b3a8015e7f49b",
    "x": 1360,
    "y": 120,
    "wires": [
      [
        "4bd83ca5e99a297a",
        "2e978a9d86ad2a6c"
      ]
    ]
  },
  {
    "id": "b6fd16c3c12c6c48",
    "type": "api-current-state",
    "z": "ad0b3a8015e7f49b",
    "name": "TTS muted?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tts_mute",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 390,
    "y": 60,
    "wires": [
      [],
      [
        "9b2ab136d63e135e"
      ]
    ]
  },
  {
    "id": "9b2ab136d63e135e",
    "type": "switch",
    "z": "ad0b3a8015e7f49b",
    "name": "volume set?",
    "property": "play_media.volume_level",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      },
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 60,
    "wires": [
      [
        "b5dcc93fec6c966c"
      ],
      [
        "a9cc56f2b6cf47ed"
      ]
    ]
  },
  {
    "id": "b5dcc93fec6c966c",
    "type": "api-current-state",
    "z": "ad0b3a8015e7f49b",
    "name": "get media player",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{ play_media.media_player }}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "media_player_entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 770,
    "y": 60,
    "wires": [
      [
        "11ed05c4a7d9af59"
      ]
    ]
  },
  {
    "id": "11ed05c4a7d9af59",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "set volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_media.media_player }}"
    ],
    "data": "{ \"volume_level\": play_media.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 970,
    "y": 60,
    "wires": [
      [
        "c512f6a566e58a44"
      ]
    ]
  },
  {
    "id": "50eb7190b4ecc241",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "reset volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_media.media_player }}"
    ],
    "data": "{ \"volume_level\": media_player_entity.attributes.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1330,
    "y": 60,
    "wires": [
      [
        "4bd83ca5e99a297a",
        "2e978a9d86ad2a6c"
      ]
    ]
  },
  {
    "id": "c512f6a566e58a44",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "play media",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_media.media_player }}"
    ],
    "data": "{\t   \"media_content_type\": play_media.media_content_type,\t   \"media_content_id\": play_media.media_content_id,\t   \"announce\": $env(\"announce\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1150,
    "y": 60,
    "wires": [
      [
        "50eb7190b4ecc241"
      ]
    ]
  },
  {
    "id": "a9cc56f2b6cf47ed",
    "type": "api-call-service",
    "z": "ad0b3a8015e7f49b",
    "name": "play media",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ flow_storage.media_player }}"
    ],
    "data": "{\t   \"media_content_type\": play_media.media_content_type,\t   \"media_content_id\": play_media.media_content_id,\t   \"announce\": $env(\"announce\")\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 750,
    "y": 120,
    "wires": [
      [
        "05ae649663b26e09"
      ]
    ]
  },
  {
    "id": "4bd83ca5e99a297a",
    "type": "function",
    "z": "ad0b3a8015e7f49b",
    "name": "create status",
    "func": "const text = msg.flow_storage.media_player;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1510,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "96c993fb8bc5ec5e",
    "type": "subflow:846b2a595d7e7acf",
    "z": "ad0b3a8015e7f49b",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "play_media",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"media_player\",\"media_content_type\",\"media_content_id\",\"volume_level\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "b6fd16c3c12c6c48"
      ]
    ]
  },
  {
    "id": "2e978a9d86ad2a6c",
    "type": "subflow:667ec96ed52e720e",
    "z": "ad0b3a8015e7f49b",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "play_media",
        "type": "str"
      }
    ],
    "x": 1520,
    "y": 60,
    "wires": [
      []
    ]
  }
]