node-red/subflows/play TTS.json
[
  {
    "id": "17f3c422bcd5a1fb",
    "type": "subflow",
    "name": "play TTS",
    "info": "Play a TTS on a media player\n\n### Configuration\n\n#### `Media player required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe media player where to play the TTS\n\n#### `Message required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe message that should be played\n\n#### `Volume level`\n\n- Type: `number`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe volume level that should be used while playing the TTS\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "8e702f42361d1ca6"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1640,
        "y": 60,
        "wires": [
          {
            "id": "f60f2b7c054f6e1e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "media_player",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Media player"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "message",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Message"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "volume_level",
        "type": "num",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Volume"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "num"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1640,
      "y": 140,
      "wires": [
        {
          "id": "c029c322b1380a7b",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "7b567172d270dada",
    "type": "junction",
    "z": "17f3c422bcd5a1fb",
    "x": 1340,
    "y": 120,
    "wires": [
      [
        "c029c322b1380a7b",
        "f60f2b7c054f6e1e"
      ]
    ]
  },
  {
    "id": "766039233a5d9cf0",
    "type": "api-current-state",
    "z": "17f3c422bcd5a1fb",
    "name": "TTS muted?",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tts_mute",
    "state_type": "habool",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 390,
    "y": 60,
    "wires": [
      [],
      [
        "c637bcaf14cc0c61"
      ]
    ]
  },
  {
    "id": "c029c322b1380a7b",
    "type": "function",
    "z": "17f3c422bcd5a1fb",
    "name": "create status",
    "func": "const text = msg.flow_storage.media_player;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "c637bcaf14cc0c61",
    "type": "switch",
    "z": "17f3c422bcd5a1fb",
    "name": "volume set?",
    "property": "play_tts.volume_level",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      },
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 60,
    "wires": [
      [
        "91e7a552c2264b02"
      ],
      [
        "0bd4cd1c91468aa0"
      ]
    ]
  },
  {
    "id": "91e7a552c2264b02",
    "type": "api-current-state",
    "z": "17f3c422bcd5a1fb",
    "name": "get media player",
    "server": "e9739673.bbfed8",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{ play_tts.media_player }}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "media_player_entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 770,
    "y": 60,
    "wires": [
      [
        "e45b6ee7a5750832"
      ]
    ]
  },
  {
    "id": "e45b6ee7a5750832",
    "type": "api-call-service",
    "z": "17f3c422bcd5a1fb",
    "name": "set volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_tts.media_player }}"
    ],
    "data": "{ \"volume_level\": play_tts.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 970,
    "y": 60,
    "wires": [
      [
        "da0bd14c3672d4f2"
      ]
    ]
  },
  {
    "id": "da0bd14c3672d4f2",
    "type": "api-call-service",
    "z": "17f3c422bcd5a1fb",
    "name": "play TTS",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_tts.media_player }}"
    ],
    "data": "{\t    \"message\": msg.play_tts.message,\t    \"language\": \"sv\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 60,
    "wires": [
      [
        "d9fa482c08da77e3"
      ]
    ]
  },
  {
    "id": "d9fa482c08da77e3",
    "type": "api-call-service",
    "z": "17f3c422bcd5a1fb",
    "name": "reset volume",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_tts.media_player }}"
    ],
    "data": "{ \"volume_level\": media_player_entity.attributes.volume_level }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1310,
    "y": 60,
    "wires": [
      [
        "c029c322b1380a7b",
        "f60f2b7c054f6e1e"
      ]
    ]
  },
  {
    "id": "0bd4cd1c91468aa0",
    "type": "api-call-service",
    "z": "17f3c422bcd5a1fb",
    "name": "play TTS",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{ play_tts.media_player }}"
    ],
    "data": "{\t    \"message\": msg.play_tts.message,\t    \"language\": \"sv\"\t}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 740,
    "y": 120,
    "wires": [
      [
        "7b567172d270dada"
      ]
    ]
  },
  {
    "id": "8e702f42361d1ca6",
    "type": "subflow:846b2a595d7e7acf",
    "z": "17f3c422bcd5a1fb",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "play_tts",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"media_player\",\"message\",\"volume_level\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "766039233a5d9cf0"
      ]
    ]
  },
  {
    "id": "f60f2b7c054f6e1e",
    "type": "subflow:667ec96ed52e720e",
    "z": "17f3c422bcd5a1fb",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "play_tts",
        "type": "str"
      }
    ],
    "x": 1500,
    "y": 60,
    "wires": [
      []
    ]
  }
]