node-red/subflows/send notification to person.json
[
  {
    "id": "9577215509c764c6",
    "type": "subflow",
    "name": "send notification to person",
    "info": "Send a notification to a person\n\n### Configuration\n\n#### `Person required`\n\n- Type: `string`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nPerson domain to send notification to\n\n#### `Notify Data required`\n\n- Type: `JSON`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification data to send to the person\n\n## Output\n\nValue types:\n\n- `Notify Services`: a notify service for the person\n\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "7a344ddcb19232f8"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1160,
        "y": 60,
        "wires": [
          {
            "id": "3395dffd3049f0dd",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "person",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_service",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify service"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1160,
      "y": 140,
      "wires": [
        {
          "id": "8b7d6855d09b0533",
          "port": 0
        },
        {
          "id": "ac55fec107f6f593",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "cdbee8b01e47c227",
    "type": "junction",
    "z": "9577215509c764c6",
    "x": 880,
    "y": 100,
    "wires": [
      [
        "3395dffd3049f0dd",
        "ac55fec107f6f593"
      ]
    ]
  },
  {
    "id": "655b351fdb846192",
    "type": "junction",
    "z": "9577215509c764c6",
    "x": 740,
    "y": 100,
    "wires": [
      [
        "cdbee8b01e47c227"
      ]
    ]
  },
  {
    "id": "b097d3315ee03c10",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "get notify service",
    "func": "const storage = 'send_notification_to_person';\n\nconst person_entity_id = msg[storage].person;\nconst person_name = person_entity_id.split('.')[1];\n\nconst service = `mobile_app_${person_name}_iphone`;\nconst data = msg[storage].notify_data\n\nmsg['payload'] = { service, data };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 60,
    "wires": [
      [
        "bf04d154c32310dc"
      ]
    ]
  },
  {
    "id": "5e64db703b93910a",
    "type": "api-call-service",
    "z": "9577215509c764c6",
    "name": "send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 820,
    "y": 60,
    "wires": [
      [
        "8b7d6855d09b0533",
        "3395dffd3049f0dd"
      ]
    ]
  },
  {
    "id": "7a344ddcb19232f8",
    "type": "subflow:846b2a595d7e7acf",
    "z": "9577215509c764c6",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_person",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"person\",\"notify_data\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "b097d3315ee03c10"
      ]
    ]
  },
  {
    "id": "8b7d6855d09b0533",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "create status",
    "func": "const text = msg.payload.service\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "3395dffd3049f0dd",
    "type": "subflow:667ec96ed52e720e",
    "z": "9577215509c764c6",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_person",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_service\":\"payload.service\"}",
        "type": "json"
      }
    ],
    "x": 1020,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "bf04d154c32310dc",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "not opted out",
    "func": "const notify_data = msg.send_notification_to_person.notify_data;\nconst tag = notify_data.data?.tag;\n\nconst person = msg.send_notification_to_person.person;\nconst opt_outs = global.get(\"opt_outs\")[person] ?? [];\n\nif (tag && opt_outs && opt_outs.includes(tag)) {\n    return [null, msg]\n}\n\nreturn [msg, null]",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 60,
    "wires": [
      [
        "5e64db703b93910a"
      ],
      [
        "655b351fdb846192"
      ]
    ],
    "outputLabels": [
      "not opted out",
      "opted out"
    ]
  },
  {
    "id": "ac55fec107f6f593",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "create status",
    "func": "const text = 'opted out'\n\nreturn {\n    payload: {\n        fill: 'red',\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 160,
    "wires": [
      []
    ]
  }
]