node-red/subflows/send notification to person.json
[
  {
    "id": "9577215509c764c6",
    "type": "subflow",
    "name": "send notification to person",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "7a344ddcb19232f8"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 960,
        "y": 60,
        "wires": [
          {
            "id": "3395dffd3049f0dd",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "person",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_service",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify service"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 960,
      "y": 140,
      "wires": [
        {
          "id": "8b7d6855d09b0533",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "b097d3315ee03c10",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "get notify service",
    "func": "const storage = 'flow_storage';\n\nconst person_entity_id = msg[storage].person;\nconst person_name = person_entity_id.split('.')[1];\n\nconst service = `mobile_app_${person_name}_iphone`;\nconst data = msg[storage].notify_data\n\nmsg['payload'] = { service, data };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 60,
    "wires": [
      [
        "5e64db703b93910a"
      ]
    ]
  },
  {
    "id": "5e64db703b93910a",
    "type": "api-call-service",
    "z": "9577215509c764c6",
    "name": "send notification",
    "server": "e9739673.bbfed8",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 60,
    "wires": [
      [
        "8b7d6855d09b0533",
        "3395dffd3049f0dd"
      ]
    ]
  },
  {
    "id": "7a344ddcb19232f8",
    "type": "subflow:846b2a595d7e7acf",
    "z": "9577215509c764c6",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_person",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"person\",\"notify_data\"]",
        "type": "json"
      },
      {
        "name": "flow_storage",
        "value": "flow_storage",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "b097d3315ee03c10"
      ]
    ]
  },
  {
    "id": "8b7d6855d09b0533",
    "type": "function",
    "z": "9577215509c764c6",
    "name": "create status",
    "func": "const text = msg.payload.service\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "3395dffd3049f0dd",
    "type": "subflow:667ec96ed52e720e",
    "z": "9577215509c764c6",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_person",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_service\":\"payload.service\"}",
        "type": "json"
      }
    ],
    "x": 820,
    "y": 60,
    "wires": [
      []
    ]
  }
]