node-red/subflows/Send notification to all persons.json
[
  {
    "id": "0543352e157255d4",
    "type": "subflow",
    "name": "Send notification to all persons",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "9c4b2351035e0bed"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1040,
        "y": 60,
        "wires": [
          {
            "id": "a48b7181dfc73c60",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_services",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify services"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1040,
      "y": 140,
      "wires": [
        {
          "id": "a4d80952ba441987",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "983cbda27834c7ab",
    "type": "subflow:6be012d64f25f43f",
    "z": "0543352e157255d4",
    "name": "",
    "env": [
      {
        "name": "persons",
        "value": "{{ persons }}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{ flow_storage2.notify_data }}",
        "type": "str"
      },
      {
        "name": "output_notify_services",
        "value": "services",
        "type": "str"
      }
    ],
    "x": 640,
    "y": 60,
    "wires": [
      [
        "a4d80952ba441987",
        "a48b7181dfc73c60"
      ]
    ]
  },
  {
    "id": "a4d80952ba441987",
    "type": "function",
    "z": "0543352e157255d4",
    "name": "Create status",
    "func": "let text = 'No persons home';\nlet color = 'red';\n\nif (msg.services.length > 0) {\n    text = msg.services.join(', ');\n    color = 'green';\n}\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "2fb56bdced216c26",
    "type": "subflow:bd6b3fc9fb3bede7",
    "z": "0543352e157255d4",
    "name": "",
    "env": [
      {
        "name": "output_persons",
        "value": "persons",
        "type": "str"
      }
    ],
    "x": 400,
    "y": 60,
    "wires": [
      [
        "983cbda27834c7ab"
      ]
    ]
  },
  {
    "id": "9c4b2351035e0bed",
    "type": "subflow:846b2a595d7e7acf",
    "z": "0543352e157255d4",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_all_persons",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"notify_data\"]",
        "type": "json"
      },
      {
        "name": "flow_storage",
        "value": "flow_storage2",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "2fb56bdced216c26"
      ]
    ]
  },
  {
    "id": "a48b7181dfc73c60",
    "type": "subflow:667ec96ed52e720e",
    "z": "0543352e157255d4",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_all_persons",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_services\":\"services\",\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 890,
    "y": 60,
    "wires": [
      []
    ]
  }
]