node-red/subflows/send notification to persons at home.json
[
  {
    "id": "c0dcc6a2aeb58851",
    "type": "subflow",
    "name": "send notification to persons at home",
    "info": "Send a notification to persons at home\n\n### Configuration\n\n#### `Notify Data required`\n\n- Type: `JSON`\n- Accepts [Mustache Templates](https://github.com/janl/mustache.js)\n\nThe notification data to send to the persons\n\n## Output\n\nValue types:\n\n- `Notify Services`: a list of notify services for the persons at home\n\n- `Persons`: a list of persons at home\n",
    "category": "notification",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "1dc379b70d0eedb1"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1060,
        "y": 60,
        "wires": [
          {
            "id": "c241f53df3f8a17e",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_services",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify services"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#C0DEED",
    "icon": "font-awesome/fa-comment",
    "status": {
      "x": 1060,
      "y": 140,
      "wires": [
        {
          "id": "6fec81bf15051b42",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "6778bbce2e781dc2",
    "type": "subflow:92acfb4d26effac0",
    "z": "c0dcc6a2aeb58851",
    "name": "",
    "env": [
      {
        "name": "output_persons",
        "value": "persons",
        "type": "str"
      }
    ],
    "x": 420,
    "y": 60,
    "wires": [
      [
        "d22c0752c41e771d"
      ]
    ]
  },
  {
    "id": "d22c0752c41e771d",
    "type": "subflow:6be012d64f25f43f",
    "z": "c0dcc6a2aeb58851",
    "name": "",
    "env": [
      {
        "name": "persons",
        "value": "{{ persons }}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{ send_notification_to_persons_home.notify_data }}",
        "type": "str"
      },
      {
        "name": "output_notify_services",
        "value": "services",
        "type": "str"
      }
    ],
    "x": 680,
    "y": 60,
    "wires": [
      [
        "6fec81bf15051b42",
        "c241f53df3f8a17e"
      ]
    ]
  },
  {
    "id": "6fec81bf15051b42",
    "type": "function",
    "z": "c0dcc6a2aeb58851",
    "name": "create status",
    "func": "let text = 'No persons home';\nlet color = 'red';\n\nif (msg.services.length > 0) {\n    text = msg.services.join(', ');\n    color = 'green';\n}\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "1dc379b70d0eedb1",
    "type": "subflow:846b2a595d7e7acf",
    "z": "c0dcc6a2aeb58851",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons_home",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"notify_data\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "6778bbce2e781dc2"
      ]
    ]
  },
  {
    "id": "c241f53df3f8a17e",
    "type": "subflow:667ec96ed52e720e",
    "z": "c0dcc6a2aeb58851",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_services\":\"services\",\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 920,
    "y": 60,
    "wires": [
      []
    ]
  }
]