node-red/subflows/send notifications to persons not at home.json
[
  {
    "id": "362c301346dfdfcc",
    "type": "subflow",
    "name": "send notifications to persons not at home",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "73f36ca3bf06f92f"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1080,
        "y": 60,
        "wires": [
          {
            "id": "578905a741091b49",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_services",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify services"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "output_persons",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1080,
      "y": 140,
      "wires": [
        {
          "id": "58e5fe0c3317d285",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "c8f1b8fba6b56112",
    "type": "subflow:29024697abc79029",
    "z": "362c301346dfdfcc",
    "name": "",
    "env": [
      {
        "name": "output_persons",
        "value": "persons",
        "type": "str"
      }
    ],
    "x": 430,
    "y": 60,
    "wires": [
      [
        "e13a65ea718ca707"
      ]
    ]
  },
  {
    "id": "e13a65ea718ca707",
    "type": "subflow:6be012d64f25f43f",
    "z": "362c301346dfdfcc",
    "name": "",
    "env": [
      {
        "name": "persons",
        "value": "{{ persons }}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{ send_notification_to_persons_not_home.notify_data }}",
        "type": "str"
      },
      {
        "name": "output_notify_services",
        "value": "services",
        "type": "str"
      }
    ],
    "x": 700,
    "y": 60,
    "wires": [
      [
        "58e5fe0c3317d285",
        "578905a741091b49"
      ]
    ]
  },
  {
    "id": "58e5fe0c3317d285",
    "type": "function",
    "z": "362c301346dfdfcc",
    "name": "create status",
    "func": "let text = 'No persons away';\nlet color = 'red';\n\nif (msg.services.length > 0) {\n    text = msg.services.join(', ');\n    color = 'green';\n}\n\nreturn {\n    payload: {\n        fill: color,\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 950,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "73f36ca3bf06f92f",
    "type": "subflow:846b2a595d7e7acf",
    "z": "362c301346dfdfcc",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons_not_home",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"notify_data\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "c8f1b8fba6b56112"
      ]
    ]
  },
  {
    "id": "578905a741091b49",
    "type": "subflow:667ec96ed52e720e",
    "z": "362c301346dfdfcc",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons_not_home",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_services\":\"services\",\"output_persons\":\"persons\"}",
        "type": "json"
      }
    ],
    "x": 940,
    "y": 60,
    "wires": [
      []
    ]
  }
]