node-red/subflows/send notification to persons.json
[
  {
    "id": "6be012d64f25f43f",
    "type": "subflow",
    "name": "send notification to persons",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "024847d82c3ae6e7"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1400,
        "y": 60,
        "wires": [
          {
            "id": "0e764cb6b285d37d",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "persons",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Persons"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "notify_data",
        "type": "str",
        "value": "",
        "ui": {
          "label": {
            "en-US": "Notify data"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "json"
            ]
          }
        }
      },
      {
        "name": "output_notify_services",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Notify services"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 1400,
      "y": 140,
      "wires": [
        {
          "id": "024de54230752dc1",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "9ddcbb1e73030798",
    "type": "junction",
    "z": "6be012d64f25f43f",
    "x": 520,
    "y": 120,
    "wires": [
      [
        "91d07763eee29f9f"
      ]
    ]
  },
  {
    "id": "91d07763eee29f9f",
    "type": "junction",
    "z": "6be012d64f25f43f",
    "x": 1100,
    "y": 120,
    "wires": [
      [
        "0e764cb6b285d37d"
      ]
    ]
  },
  {
    "id": "d4f28161858d8840",
    "type": "function",
    "z": "6be012d64f25f43f",
    "name": "for every person",
    "func": "const storage = 'send_notification_to_persons';\n\nconst persons = msg[storage].persons;\nif(persons.length > 0) {\n    persons.forEach((person, index) => {\n        node.send({\n            ...msg,\n            person,\n            parts: {\n                id: \"notify_persons\",\n                type: \"array\",\n                count: persons.length,\n                len: 1,\n                index\n            }\n        });\n    });\n}\n\nreturn [null, {services: []}]\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 60,
    "wires": [
      [
        "739e21e164f8a279"
      ],
      [
        "9ddcbb1e73030798"
      ]
    ],
    "outputLabels": [
      "",
      "no persons"
    ]
  },
  {
    "id": "739e21e164f8a279",
    "type": "subflow:9577215509c764c6",
    "z": "6be012d64f25f43f",
    "name": "",
    "env": [
      {
        "name": "person",
        "value": "{{ person }}",
        "type": "str"
      },
      {
        "name": "notify_data",
        "value": "{{ send_notification_to_persons.notify_data }}",
        "type": "str"
      },
      {
        "name": "output_notify_service",
        "value": "service",
        "type": "str"
      }
    ],
    "x": 640,
    "y": 60,
    "wires": [
      [
        "b53ff6641760cd5b"
      ]
    ]
  },
  {
    "id": "b53ff6641760cd5b",
    "type": "join",
    "z": "6be012d64f25f43f",
    "name": "",
    "mode": "auto",
    "build": "array",
    "property": "",
    "propertyType": "full",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 850,
    "y": 60,
    "wires": [
      [
        "72b4bab712e13952"
      ]
    ]
  },
  {
    "id": "024de54230752dc1",
    "type": "function",
    "z": "6be012d64f25f43f",
    "name": "create status",
    "func": "const text = msg.services.join(', ')\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1270,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "72b4bab712e13952",
    "type": "function",
    "z": "6be012d64f25f43f",
    "name": "merge services",
    "func": "\nreturn {\n    ...msg,\n    services: msg.payload.map((payload) => payload.service)\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 60,
    "wires": [
      [
        "024de54230752dc1",
        "0e764cb6b285d37d"
      ]
    ]
  },
  {
    "id": "024847d82c3ae6e7",
    "type": "subflow:846b2a595d7e7acf",
    "z": "6be012d64f25f43f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons",
        "type": "str"
      },
      {
        "name": "entries",
        "value": "[\"persons\",\"notify_data\"]",
        "type": "json"
      }
    ],
    "x": 200,
    "y": 60,
    "wires": [
      [
        "d4f28161858d8840"
      ]
    ]
  },
  {
    "id": "0e764cb6b285d37d",
    "type": "subflow:667ec96ed52e720e",
    "z": "6be012d64f25f43f",
    "name": "",
    "env": [
      {
        "name": "unique_id",
        "value": "send_notification_to_persons",
        "type": "str"
      },
      {
        "name": "outputs",
        "value": "{\"output_notify_services\":\"services\"}",
        "type": "json"
      }
    ],
    "x": 1260,
    "y": 60,
    "wires": [
      []
    ]
  }
]