node-red/subflows/Sista person lämnar hem.json
[
  {
    "id": "10bf6a612840df6b",
    "type": "subflow",
    "name": "Sista person lämnar hem",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 880,
        "y": 60,
        "wires": [
          {
            "id": "63aa7075ace1ec06",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "output_person",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-sign-out",
          "label": {
            "en-US": "Person"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "status": {
      "x": 880,
      "y": 140,
      "wires": [
        {
          "id": "a008fb2ad1c74bdc",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "1460052b763787b4",
    "type": "server-state-changed",
    "z": "10bf6a612840df6b",
    "name": "Ingen person hemma",
    "server": "e9739673.bbfed8",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "zone.home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 60,
    "wires": [
      [
        "cca8176dfb811e96"
      ],
      []
    ]
  },
  {
    "id": "16f07124f699c070",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "Hämta person som lämnade",
    "func": "const old_persons = msg.data.old_state.attributes.persons;\nconst new_persons = msg.data.new_state.attributes.persons;\n\nconst person = old_persons.filter(p => !new_persons.includes(p))[0];\n\nreturn {\n    person\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 60,
    "wires": [
      [
        "a008fb2ad1c74bdc",
        "63aa7075ace1ec06"
      ]
    ]
  },
  {
    "id": "a008fb2ad1c74bdc",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "Skapa status",
    "func": "const text = msg.topic;\n\nreturn {\n    payload: {\n        fill: \"green\",\n        text\n    }\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "cca8176dfb811e96",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "setup",
    "func": "// Define inputs\nconst env_keys = ['media_player', 'message'];\n\n// Where should the parsed inputs be stored during the subflow\nconst storage = 'flow_storage';\n\n// Save the msg\nflow.set('input_msg', JSON.stringify(msg));\n\nmsg[storage] = {};\n\n// Check if string contains mustache\nconst containsMustache = (str) => {\n    const regex = /{{(?:(?!}}).+)}}/g;\n    return regex.test(str);\n}\n\n// Parse inputs\nenv_keys.forEach((env_key) => {\n    let env_value = env.get(env_key);\n    if (containsMustache(env_value)) {\n        env_value = env_value.replace(/(\\{{)\\s*(\\S+)\\s*(\\}})/g, \"$2\");\n        env_value = selectn(env_value, msg);\n    }\n    msg[storage][env_key] = env_value;\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "selectn",
        "module": "selectn"
      }
    ],
    "x": 330,
    "y": 60,
    "wires": [
      [
        "16f07124f699c070"
      ]
    ]
  },
  {
    "id": "63aa7075ace1ec06",
    "type": "function",
    "z": "10bf6a612840df6b",
    "name": "cleanup",
    "func": "// Define outputs\n// * Key - environment variable\n// * Value - msg path to value\nconst outputs = {\n    'output_person': 'person'\n};\n\nconst buildObjWithValue = (path, value = '') => {\n    const paths = path.split('.');\n    return paths.reduceRight((acc, item, index) => ({\n        [item]: index === paths.length - 1\n            ? value\n            : acc\n    }), {});\n}\n\n// Set output variables\nconst output_values = {};\nObject.keys(outputs).forEach((output_key) => {\n    const output_value_path = outputs[output_key];\n    const output_value_location = env.get(output_key);\n    const output_value = selectn(output_value_path, msg)\n    if (output_value_location && output_value_location !== \"\") {\n        Object.assign(output_values, buildObjWithValue(output_value_location, output_value));\n    }\n});\n\n// Load the msg as the input was to the subflow\nconst pre_msg = JSON.parse(flow.get('input_msg'));\n\n// Return the input message alongside the outputs\nmsg = Object.assign(pre_msg, output_values);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "selectn",
        "module": "selectn"
      }
    ],
    "x": 760,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "43b871a024add46b",
    "type": "comment",
    "z": "10bf6a612840df6b",
    "name": "Injector, inget pre_msg behövs",
    "info": "",
    "x": 610,
    "y": 20,
    "wires": []
  }
]